<div id="page-wrapper">

    <div class="container-fluid" ng-controller="Controller">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Articulos <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/creararticulo/datosbasicosarticulo">
                        <div class="panel-footer">
                            <span class="pull-left">Crear Articulos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listaarticulosinactivos">
                        <div class="panel-footer">
                            <span class="pull-left">Articulos Inactivos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Listado de Articulos Activos
            </li>
        </ol>

        <div class="row">
            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            <div class="col-lg-12">


                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Articulo </th>
                                <th>Unidad de Kardex</th>
                                <th>Unidad de Venta</th>
                                <th>Maneja Inventario </th>
                                <th>Es para la Venta</th>
                                <th>Tiene Receta</th>
                                <th>Hace parte de una Selección</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>{{post.inventario}}</td>
                                <td>{{post.venta}}</td>
                                <td>{{post.receta}}</td>
                                <td>{{post.seleccion}}</td>
                                <td class="center"><a ui-sref="buscarpuntosarticulo({id: post.id})" class="btn btn-warning btn-xs" role="button">Ver Puntos</a><a ui-sref="buscararticulo.datosbasicosarticuloespecifico({id: post.id})" class="btn btn-info btn-xs" role="button">Ver Datos</a><a href ng-click="showEliminarArt('./rest/articulo/'+post.id+'/inactivar/', 'inactivar')" class="btn btn-danger btn-xs" role="button">Inactivar</a></td>
                            </tr>

                        </tbody>
                    </table>                    
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>

        </div>
        <script type="text/ng-template" id="modal.html">
            <div class="modal fade">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Desactivar Articulo</h4>
            </div>
            <div class="modal-body">
            <p>Esta seguro que desea inactivar este elemento?</p>
            </div>
            <div class="modal-footer">
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Si</button>
            </div>
            </div>
            </div>
            </div>
        </script>
    </div>

</div>


