<div id="page-wrapper">

    <div class="container-fluid"  ng-controller="Controller">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Buscar Compra <small>Resumen de Estadísticas</small>
                </h1>

            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/clases">
                        <div class="panel-footer">
                            <span class="pull-left">********</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listaclasesinactivas">
                        <div class="panel-footer">
                            <span class="pull-left">///////////</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-user"></i> Datos de la Compra
                </li>
            </ol>
            <div ng-if="message">
                <div class="alert {{tipo}} alert-dismissible">
                    <a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{message}}</strong>
                </div>
            </div>

            <!--
            <ol class="breadcrumb">
                <li class="active">
                    <i class="center"></i> <h3>Información de la Compra</h3>
                </li>
            </ol>

            -->

            <div class="alert alert-info">Informacion de la Compra</div>

            <div class="form-group">

                <label for="compra" class="control-label"/>Fecha de Compra
                <input type="date" id="compra" name="compra" class="form-control" ng-model="formData.compra" required/>
                <label for="kardex" class="control-label"/>Ingreso a Kardex
                <input type="date" id="kardex" name="kardex" class="form-control" ng-model="formData.kardex" required/>
                <label for="vencimiento" class="control-label"/>Vencimiento de Factura
                <input type="date" id="vencimiento" name="vencimiento" class="form-control" ng-model="formData.vencimiento"  required/>
                <label for="factura" class="control-label"/>Numero de Factura
                <input type="text" id="factura" name="factura" class="form-control" ng-model="formData.factura"  required/>
            </div>
            <!--
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="center"></i> <h3>Proveedor</h3>
                                    
                                </li>
                            </ol>
            -->

            <div class="alert alert-info">Proveedor</div>
            <div>   
            <button type="button"  ng-click="showProveedor()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Proveedor
            </button>
                </div>

            
            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label for="search">Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
        

                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Codigo o Nit</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Central Madeirence</td>
                                <td>123456789</td>
                                <td>Suba la Campiña</td>
                                <td>6987412</td>

                            </tr>

                        </tbody>
                    </table>

                    <dir-pagination-controls
                        max-size="10"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>

                </div>

      


<div class="alert alert-info">Articulos</div>

            
<div>
            <button type="button"  ng-click="" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Articulos
            </button>
              
</div>
            <!--
                 <ol class="breadcrumb">
                     <li class="active">
                         <i class=""></i> <h3>Articulos </h3>
                     </li>
                 </ol>
            -->






            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>


            <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Articulo</th>                                
                        <th>Unidad Compra</th>
                        <th>Cantidad</th>                                
                        <th>Unidad Kardex</th>
                        <th>Cantidad en Kardex</th>                                
                        <th>Orden de Compra</th>
                        <th>Valor Unitario</th>                                
                        <th>Total Bruto</th>
                        <th>Descuento</th>                                
                        <th>Impuesto</th>
                        <th>Valor Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX">
                        <td>Pimienta</td>
                        <td>Tarro</td> 
                        <td>50</td> 
                        <td>Unidad</td> 
                        <td>50</td> 
                        <td>1</td> 
                        <td>2000</td> 
                        <td>100000</td> 
                        <td>50000</td> 
                        <td>5000</td> 
                        <td>5500</td> 
                        <td class="center"><a ui-sref="crearpunto.datosbasicospunto({id: post.id})" class="btn btn-success btn-xs" role="button">Editar</a><a href ng-click="show(post.id, './rest/cliente/inactivar/', 'inactivar')" class="btn btn-danger btn-xs" role="button">Eliminar</a><a href ng-click="show(post.id, './rest/cliente/inactivar/', 'inactivar')" class="btn btn-default btn-xs" role="button">Devolucion</a></td>
                    </tr>

                </tbody>
            </table>
            <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
            </dir-pagination-controls>




            <div>
            <button type="button"  ng-click="" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Pendientes/Devoluciones
            </button>   
         </div>
            <br>
            <!--  
           <ol class="breadcrumb">
                  <li class="active">
                      <i class=""></i> <h3>Devoluciones</h3>
                  </li>
              </ol>   
            -->

            <div class="alert alert-info">Devoluciones</div>
        



                <div class="panel-body">
                    <div class="col-lg-4">
                        <label >Buscar</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                    </div>

                    <div class="col-lg-4">
                        <label>Items por Página</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>


                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Articulo</th>                                
                                <th>Unidad Compra</th>
                                <th>Cantidad</th>                                
                                <th>Unidad Kardex</th>
                                <th>Cantidad en Kardex</th>                                
                                <th>Orden de Compra</th>
                                <th>Valor Unitario</th>                                
                                <th>Total Bruto</th>
                                <th>Descuento</th>                                
                                <th>Impuesto</th>
                                <th>Valor Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Pimienta</td>
                                <td>Tarro</td> 
                                <td>50</td> 
                                <td>Unidad</td> 
                                <td>50</td> 
                                <td>1</td> 
                                <td>2000</td> 
                                <td>100000</td> 
                                <td>50000</td> 
                                <td>5000</td> 
                                <td>5500</td> 
                                <td class="center"><a href ng-click="show(post.id, './rest/cliente/inactivar/', 'inactivar')" class="btn btn-default btn-xs" role="button">Retornar o E.Kardex</a></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>

                </div>

         
            <div class="alert alert-info">Pendientes</div>
            <!--
                <ol class="breadcrumb">
                       <li class="active">
                           <i class=""></i> <h3>Pendientes</h3>
                          
                       </li>
                   </ol>   
            -->
          



                <div class="panel-body">
                    <div class="col-lg-4">
                        <label >Buscar</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                    </div>

                    <div class="col-lg-4">
                        <label>Items por Página</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>


                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Articulo</th>                                
                                <th>Unidad Compra</th>
                                <th>Cantidad</th>                                
                                <th>Unidad Kardex</th>
                                <th>Cantidad en Kardex</th>                                
                                <th>Orden de Compra</th>
                                <th>Valor Unitario</th>                                
                                <th>Total Bruto</th>
                                <th>Descuento</th>                                
                                <th>Impuesto</th>
                                <th>Valor Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Pimienta</td>
                                <td>Tarro</td> 
                                <td>50</td> 
                                <td>Unidad</td> 
                                <td>50</td> 
                                <td>1</td> 
                                <td>2000</td> 
                                <td>100000</td> 
                                <td>50000</td> 
                                <td>5000</td> 
                                <td>5500</td> 
                                <td class="center"><a href ng-click="show(post.id, './rest/cliente/inactivar/', 'inactivar')" class="btn btn-default btn-xs" role="button">Retornar</a></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>

                </div>

      

        </div>



        <button class="btn btn-danger">Cancelar</button>
        <button class="btn btn-default">Imprimir</button>
        <button class="btn btn-success">Guardar</button>


    </div>
</div>
</div>

<script type="text/ng-template" id="modalproveedor.html">
    <div class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Proveedores</h4>
    </div>
    <div class="modal-body">





    <div class="panel-body">
    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
    <thead>
    <tr>
    <th>Proveedor</th>                                
    <th>Codigo o Nit</th>
    <th>Direccion</th>                                
    <th>Telefono</th>
    <th>Seleccione</th>                                
    </tr>
    </thead> 
    <tbody>
    <tr class="odd gradeX">
    <td>Mil Pollos</td>
    <td>123456789</td>
    <td>Suba compartir</td>
    <td>774523698</td>
    <td>
    <input type="radio" name="pageNumber" ng-model="pageNumber" ng-value="0">
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>


    <div class="modal-footer">
    <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
    </div>
    </div>
    </div>
    </div>
</script>


