<div id="page-wrapper">

    <div class="container-fluid" ng-controller="Controller">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Compras <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/crearclientes/datosbasicos">
                        <div class="panel-footer">
                            <span class="pull-left">Crear Compras</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listaclientesinactivos">
                        <div class="panel-footer">
                            <span class="pull-left">Compras Inactivos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Listado de Compras
            </li>
        </ol>
        
        <button type="button"  ng-click="" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span> Crear Compras
        </button>

        <div>
            <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
            <div class="col-lg-4">
              <label for="search">Items por Página</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            <div class="col-lg-12">

                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Consecutivo</th>
                                <th>Factura Proveedor</th>
                                <th>Fecha en Kardex</th>
                                <th>Orden en Compra</th>
                                <th>Proveedor</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>1</td>
                                <td>2565</td>
                                <td>01/01/2017</td>
                                <td>1</td>
                                <td>DistriCarnes Rastreo</td>
                                <td class="center"><a ui-sref="buscarcompra" class="btn btn-info btn-xs" role="button">Ver Datos</a></td>

                            </tr>

                        </tbody>
                    </table>

                    <dir-pagination-controls
                        max-size="10"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>

                </div>

            </div>

        </div>

        <script type="text/ng-template" id="modal.html">
            <div class="modal fade">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Desactivar Cliente</h4>
            </div>
            <div class="modal-body">
            <p>Esta seguro que desea inactivar este elemento?</p>
            </div>
            <div class="modal-footer">
            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Si</button>
            </div>
            </div>
            </div>
            </div>
        </script>

    </div>

</div>
