<div id="page-wrapper">

    <div class="container-fluid" ng-controller="Controller">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Marcas <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <!--<div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/marcas">
                        <div class="panel-footer">
                            <span class="pull-left">Listado Marcas Activas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listamarcasinactivas">
                        <div class="panel-footer">
                            <span class="pull-left">Listado de Marcas Inactivas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Crear Marca 
            </li>
        </ol>
        
        
        
        
         <div class="alert alert-info">Creación de nueva Marca</div>
        
         <div ng-if="message">
             <div class="alert {{tipo}} alert-dismissible">
                 <a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                 <strong>{{message}}</strong>
             </div>
         </div>
        
<!--
        <ol class="breadcrumb">
            <li class="active">
                <i class="center"></i> <h3>Información de la Marca</h3>
            </li>
        </ol>
-->
        <form ng-submit="processFormMarca()">
            <div class="form-group">

                <label for="nombre" class="control-label">Nombre de la Marca:</label>

                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" ng-model="formData.nombre" minlength=3 maxlength=100 required>


            </div>
            
            
            <div class="alert alert-info">Propietario de la Marca</div>

            <ol class="breadcrumb">
                <li class="active">
                    <i class="center"></i> <h3>Cliente a Asignar</h3>

                </li>
            </ol>

            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>

            <div class="col-lg-12">
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Razón Social</th>
                                <th>Nit</th>
                                <th>Teléfono</th>
                                <th>Nombre del Propietario</th>
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td>{{post.nit}}</td>
                                <td>{{post.telefono}}</td>
                                <td>{{post.nombreRepresentante}}</td>
                                <td><input type="checkbox" id="idCliente" name="idCliente" ng-model="formData.idCliente" ng-true-value="{{post.id}}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-block btn-success">Guardar Marca</button>
            </div>
        </form>

    </div>

</div>
</div>

