<div id="page-wrapper">

    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Articulos <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>



        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Crear Nuevo Articulo 
            </li>
        </ol>
       

        
        <div id="status-buttons">
            <!-- usar una variable por cada link a mostrar -->
            <!--<a href="" ng-click="muestralo()" class="btn btn-primary btn-lg">Muestrate</a>
            <a ui-sref-active="active" ui-sref=".datosbasicosarticulo" style="pointer-events: none; cursor:default"><span>1</span>Información</a>-->
        
            <i class="fa fa-info-circle fa-2x" style="color:#4682B4" ui-sref=".datosbasicosarticulo"> <br><h6>Información</h6></i> &nbsp;
            <i class="fa fa-list-alt fa-2x" style="color:#4682B4" ui-sref=".inventarioarticulo" ng-hide="inventario"><br><h6>Inventario</h6></i> &nbsp;
            <i class="fa fa-shopping-cart fa-2x" style="color:#4682B4" ui-sref=".ventaarticulo" ng-hide="venta"><br><h6>Venta</h6></i> &nbsp;
            <i class="fa fa-cutlery  fa-2x" style="color:#4682B4" ui-sref=".recetaarticulo" ng-hide="receta"><br><h6>Receta</h6></i> &nbsp;
            <i class="fa fa-suitcase fa-2x" style="color:#4682B4" ui-sref=".empaquearticulo" ng-hide="empaques"><br><h6>Empaques</h6></i>
<!--        <a ui-sref-active="active" ui-sref=".inventarioarticulo" ng-hide="inventario" style="pointer-events: none; cursor:default"><span>2</span>Inventario</a>
            <a ui-sref-active="active" ui-sref=".ventaarticulo" ng-hide=" venta" style="pointer-events: none; cursor:default"><span>3</span>Venta</a>
            <a ui-sref-active="active" ui-sref=".recetaarticulo" ng-hide="receta"style="pointer-events: none; cursor:default"><span>4</span>Rceceta</a>
            <a ui-sref-active="active" ui-sref=".empaquearticulo" ng-hide="empaques "style="pointer-events: none; cursor:default"><span>5</span>Empaques</a> -->
  
        </div>


        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" name="form" ng-submit="processFormArticulos()">
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>
        
            

    </div>

</div>	



