<div id="page-wrapper">

    <div class="container-fluid" ng-controller="Controller">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Grupos Corporativos <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <!--<div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/gruposcorporativos">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos Corporativos Activos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listagruposcorporativosinactivos">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos Corporativos Inactivos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Crear Nuevo Grupo Corporativo 
            </li>
        </ol>
 
        
        

        <div class="alert alert-info">Creación de nuevo Grupo Corporativo</div>
        
        <div ng-if="message">
            <div class="alert {{tipo}} alert-dismissible">
                <a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            </div>
        </div>

        <ol class="breadcrumb">
            <li class="active">
                <i class="center"></i> <h3>Informacion del Grupo Corporativo</h3>
            </li>
        </ol>

        <form name="grupoForm" ng-submit="processFormGrupo()">

            <div  class="form-group">

                <label for="nombreGrupo" class="control-label">Nombre del Grupo Corporativo:</label>
                
                    <input type="text" title="Se necesita un nombre para el grupo" id="nombreGrupo" name="nombreGrupo" class="form-control" placeholder="Nombre" ng-model="formData.nombreGrupo"  minlength=3 maxlength=100 required>
               
            </div>

<div class="alert alert-info">Clientes que perteneceran al Grupo Corporativo</div>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="center"></i> <h3>Clientes a Asignar</h3>

                </li>
            </ol>	

            
            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            
            <div class="col-lg-12">

                <div class="panel-body">

                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">

                        <thead>

                            <tr> 
                                <th>Razón Social</th>
                                <th>Nit</th>
                                <th>Teléfono</th>
                                <th>Nombre del Representante</th>
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate= "post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td>{{post.nit}}</td>
                                <td>{{post.telefono}}</td>
                                <td>{{post.nombreRepresentante}}</td>
                                <td><input type="checkbox" id="id" name="id" checklist-model="formData.id" checklist-value="post"></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="10"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>

            <div class="col-xs-3">

                <button type="submit" class="btn btn-block btn-success">Guardar Grupo Corporativo</button>
            </div>  

        </form>     

    </div>

</div>




