<div id="page-wrapper">

    <div class="container-fluid" ng-controller="Controller">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Grupos de Selección <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

       <!-- <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/gruposdeseleccion">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos de Selección Activos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listagruposeleccioninactivos">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos de Selección Inactivos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>  -->

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Crear Nuevo Grupo de Selección 
            </li>
        </ol>

        <div class="alert alert-info">Información del Grupo de Selección</div>
        <!--
        <ol class="breadcrumb">
            <li class="active">
                <i class=""></i> <h3>Información del Grupo de Selección </h3>
            </li>
        </ol>

-->

        <form name="form" ng-submit="processFormGrupoSeleccion()"><!--Crear el proces en el controller o enviar parametro para la accion-->



            <label for="nombre" class="control-label">Nombre del Grupo de Selección:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" ng-model="formData.nombre" placeholder="Nombre" minlength=3 maxlength=100 required>

            <ol class="breadcrumb">
                <li class="active">
                    <i class=""></i> <h3>Caracteristicas del Precio </h3>
                </li>
            </ol>


          

                <div class="form-group">
                    <label>
                        <input type="radio" ng-click="showme = false" id="caracteristicasPrecio" name="caracteristicasPrecio" ng-model="formData.caracteristicasPrecio" value="1"> <!--ng-true-value="formData.caracteristicasPrecio" checked -->   
                    </label>
                    Incremento por Articulo
                </div>
                <div class="form-group">
                    <label>
                        <input type="radio"  id="caracteristicasPrecio2" name="caracteristicasPrecio" ng-model="formData.caracteristicasPrecio"  value="2">       
                    </label>
                    Incremento por Grupo
                </div>
                <div class="form-group">
                    <label>
                        <input type="radio"  id="caracteristicasPrecio3" name="caracteristicasPrecio" ng-model="formData.caracteristicasPrecio" value="3">     
                    </label>
                    El Precio mas Alto
                </div>
                <div class="form-group">
                    <label>
                               
                    <input type="radio" id="caracteristicasPrecio4" name="caracteristicasPrecio" ng-model="formData.caracteristicasPrecio"  value="4">       
                    </label>
                    No Aplica
                </div>



           
            <div class="wrapper">
                <p ng-hide="showme"></p>
                <div class="form-group" ng-show="showme">

                    <label for="incrementoPrecio" class="control-label">Incremento de Grupo:</label>

                    <input type="text" id="incrementoPrecio" name="incrementoPrecio" class="form-control" ng-model="formData.incrementoPrecio">

                </div>
            </div>

<div class="alert alert-info">Tipo de Selección</div>

<!--
            <ol class="breadcrumb">
                <li class="active">
                    <i class=""></i> <h3>Tipo de Selección </h3>
                </li>
            </ol>
-->
        <!--    <md-radio-group ng-model="formData.tipoGrupo">-->

                <div class="form-group">
                    <label>
                        <input type="radio" id="tipoGrupo" name="tipoGrupo"  ng-model="formData.tipoGrupo"value="1">     
                    </label>
                    Cerrada
                </div>
                <div class="form-group">
                    <label>
                        <input type="radio" id="tipoGrupo" name="tipoGrupo"  ng-model="formData.tipoGrupo" value="2">       
                    </label>
                    Abierta
                </div>

           <!--  </md-radio-group>-->

            <button type="button" ng-click="showArticulos()"  class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Articulos para la Selección
            </button> 

            <ol class="breadcrumb">

                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Articulo</th>                                
                                <th>Unidad</th>
                                <th>Incrementa</th>                                
                                <th>Kardex</th>                              
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="articulo in articulos|filter:search|itemsPerPage:pageSize">
                                <td>{{articulo.nombreArticulo}}</td>
                                <td>{{articulo.nombreUnidad}}</td> 
                                <td>{{articulo.incrementoPrecio}}</td> 
                                <td>{{articulo.cantidadADescargar}}</td>                                 
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="removeArt(articulo.idArticulo, articulo.cantidadADescargar)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>

                </div>




            </ol>
            <div class="col-xs-3">

                <button type="submit" class="btn btn-block btn-success">Crear Grupo de Selección</button>
            </div> 
        </form>



    </div>

 <script type="text/ng-template" id="modalarticulos.html"> 
         <div class="modal fade">
          <div class="modal-dialog"  id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Articulos para la Selección</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
              
             <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-xs-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
              <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>       
                                <td><input type="radio" id="asociarArticulo" name="asociarArticulo" ng-model="formData.asociarArticulo" ng-value="{{post}}"></td>
                            </tr>

                        </tbody>
                    </table>                    
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
              
              
              
              <div class="form-group">
                    <label for="input" class="control-label">Descarga de Kardex</label>
                        <input type="text" class="form-control" ng-model="formData.kardex">
                </div>

        <div ng-controller="cargarunidadKardexController">
    
   <div class="form-group">
            <label for="unidadkardex">Unidad</label>
            <select class="charge_select form-control ui-wizard-content" id="unidad" name="unidad" ng-model="formData.unidad" ng-options="post.nombre for post in postsunidadkardex" ng-value="{{post.id}}" ng-required="true">
            </select>
            <p class="alert-danger" ng-if="form.unidad.$error.required && form.unidad.$touched">Este campo es requerido.</p>
        </div>

    
    </div>
        
        
        
        
        
        <div class="form-group">
                    <label for="input" class="control-label">Incrementa</label>
                        <input type="text" class="form-control" ng-model="formData.incrementa" minlength="1" maxlength="6" onkeypress="return solonumeros(event)">
                </div>
        <input type="button"  class="btn btn-success btn-sm" ng-disabled="!formData.asociarArticulo || !formData.unidad || !formData.incrementa" ng-click="addData()" value="Agregar" />
              </div>
      
      <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Articulo</th>    
                                    <th>Unidad</th> 
                                    <th>Incrementa</th> 
                                    <th>Descarga de Kardex</th>
                                    <th>Mayor Valor</th> 
                                    <th>Accion</th>
                                </tr>
                            </thead> 
                    <tbody>
                            <tr class="odd gradeX" ng-repeat="data in myDataArticulos">
                                    <td>{{data.nombreArticulo}}</td>
                                    <td>{{data.nombreUnidad}}</td>
                                    <td>{{data.incrementoPrecio}}</td>
                                    <td>{{data.cantidadADescargar}}</td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeData(data)">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                        </button> 
                                    </td>
                            </tr>
                    </tbody>
                    </table>
                </div>
      
      
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
    </script>
</div>

</div>

