<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Usuarios <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Crear Nuevo Usuario 
            </li>
        </ol>

        <div id="status-buttons">
            <a ui-sref-active="active" ui-sref=".datosbasicosusuarios" style="pointer-events: none; cursor:default"><span>1</span>Información Usuario</a>
            <a ui-sref-active="active" ui-sref=".clienteusuario" style="pointer-events: none; cursor:default"><span>2</span>Cliente asociado</a>
            <a ui-sref-active="active" ui-sref=".rolesusuario" style="pointer-events: none; cursor:default"><span>3</span>Roles Asociados</a>
            
        </div>

        <form id="signup-form" name="form" ng-submit="processFormUsuario()">

            <div id="form-views" ui-view></div>
        </form>

    </div>

</div>	



