<div id="page-wrapper">

    <div class="container-fluid"  ng-controller="Controller">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Clases <small>Resumen de Estadísticas</small>
                </h1>

            </div>

           <!-- <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/clases">
                        <div class="panel-footer">
                            <span class="pull-left">Listado de Clases Activas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listaclasesinactivas">
                        <div class="panel-footer">
                            <span class="pull-left">Listado de Clases Inactivas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-user"></i> Crear Nueva Clase 
                </li>
            </ol>
            <div ng-if="message">
<div class="alert {{tipo}} alert-dismissible">
  <a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{message}}</strong>
</div>
</div>
          <div class="alert alert-info">Información de la Clase</div>  
            
            <!--
            <ol class="breadcrumb">
                <li class="active">
                    <i class="center"></i> <h3>Información de la Clase</h3>
                </li>
            </ol>
-->
            <form ng-submit="processFormClases()">

                <div class="form-group">

                    <label for="nombre" class="control-label">Nombre de la Clase:</label>
                    
                        <input type="text" class="form-control" ng-model="formData.nombre" placeholder="Nombre" minlength=3 maxlength=100 required>
                    

                </div>
                
                <div class="alert alert-info">Caracteristicas de la Clase</div>
                <!--

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="center"></i> <h3>Caracteristicas de la Clase</h3>

                    </li>
                </ol>
                -->
                <div class="table-responsive">
                        <table class="col-lg-6 col-md-3">

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" name="unidadventa" value="unidadventa" ng-model="formData.venta">    
                                        </label>
                                        Usada para la Venta
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" name="usadainventario" value="usadainventario" ng-model="formData.inventario" >       
                                        </label>
                                        Usada para Inventario
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
  <div class="alert alert-info">Grupos a los que sera Asignada la Clase</div>
                
<!--                
                <ol class="breadcrumb">
                    <li class="active">
                        <i class=""></i> <h3>Grupos a los que sera Asignada la Clase </h3>
                    </li>
                </ol>
-->
           
                <ol class="breadcrumb">
                    <div>
                        <button type="button"  ng-click="showGrupoClase()" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-plus-sign"></span> Agregar Grupos a esta clase
                        </button>
                        
                        <div class="panel-body">
                        <div class="col-lg-4">
                            <label >Buscar</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                        </div>

                        <div class="col-lg-4">
                            <label>Items por Página</label>
                            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                        </div>

                        
                            <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Nombre del grupo</th>                                
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" dir-paginate="grupo in grupos|filter:search|itemsPerPage:pageSize">
                                        <td>{{grupo.nombre}}</td>                                
                                        <td>
                                            <button type="button" class="btn btn-default btn-md" ng-click="removeData(data)">
                                                <span class="glyphicon glyphicon-minus-sign"></span>
                                            </button>                                            
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>

                        </div>
                    </div>
                </ol>
                
                
                
                
                
                <br>
                <div class="col-xs-3">

                    <button type="submit" class="btn btn-block btn-success">Guardar Clase</button>
                </div>
            </form>
 
        </div>




        </div>
        
    </div>

<script type="text/ng-template" id="modalgrupoclase.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Grupo que será asociado a la Clase</h4>
              </div>
              <div class="modal-body">
                
                
                <div class="panel-body">
              
                    <div class="form-group">
                        <label for="inData">Nombre</label>
                        <input type="text" class="form-control" id="inData"  name="inData" ng-model="inData">
                        <input type="button"  class="btn btn-success btn-sm" ng-click="addData()" value="Agregar Grupo" />
                    </div>
                    <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre del grupo</th>                                
                                    <th>Acciones</th>
                                </tr>
                            </thead> 
                    <tbody>
                            <tr class="odd gradeX" ng-repeat="data in myDataClase" >
                                    <td>{{data.nombre}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeData(data)">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                        </button> 
                                    </td>
                            </tr>
                    </tbody>
                    </table>
                </div>
                </div>
                
              </div>
      
            
                    
                    
      
      
              <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>


