<div id="page-wrapper">
    <div class="container-fluid" ng-controller="Controller">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Clases <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/crearclases">
                        <div class="panel-footer">
                            <span class="pull-left">Crear Lista de Clases</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/clases">
                        <div class="panel-footer">
                            <span class="pull-left">Lista de Clases Activas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listaclasesinactivas">
                        <div class="panel-footer">
                            <span class="pull-left">Lista de Clases Inactivas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            
</div>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="center"></i> <h3>Información de la Clase
                    </h3>
                </li>
            </ol>
            <form ng-submit="processFormClases()"><!--Crear el proces en el controller o enviar parametro para la accion-->

                <div class="form-group">
                    <label for="nombre">Nombre de la Clase</label>
                    <input type="text" class="form-control" name="nombre" ng-value="posts.nombre" ng-model="formData.nombre">
                </div>

                <ol class="breadcrumb">
                    <li class="active">
                        <i class="center"></i> <h3>Caracteristicas de la Clase</h3>

                    </li>
                </ol>	

                
                <div class="table-responsive">
                        <table class="col-lg-6 col-md-3">

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" name="unidadventa" value="unidadventa" ng-model="formData.venta">    
                                        </label>
                                        Usada para la Venta
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" name="usadainventario" value="usadainventario" ng-model="formData.inventario" >       
                                        </label>
                                        Usada para Inventario
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                
                
                <button type="button" ng-click="showGrupoSeleccion()" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span> Agregar Grupos a la Clase
                    </button>

                <ol class="breadcrumb">

                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example1">
                        <thead>
                            <tr>
                                <th>Nombre</th> 
                                <th>Descripción</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="grupos in posts.grupos|filter:search|itemsPerPage:pageSize">
                                <td>{{grupos.nombre}}</td>
                                <td>{{grupos.descripcion}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
             </ol>   
                
                
                <div class="col-xs-3">

                    <button type="submit" class="btn btn-block btn-warning">Guardar Clase</button>
                </div>
            </form>
        
    </div>
</div>

<script type="text/ng-template" id="modalgruposeleccion.html">
    <div class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Modal de Grupos de Selección</h4>
    </div>
    <div class="modal-body" ng-controller="Controller">

            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-xs-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
    <div class="panel-body">
    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
    <thead>
    <tr>
    <th>Nombre del Grupo de Selección</th>                                
    <th>Asociar</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
    <td>{{post.nombre}}</td>
    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
    </tr>

    </tbody>
    </table>
    <dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true" >
    </dir-pagination-controls>
    </div>

    <div class="form-group">
    <label for="cantidad">Cantidad de Articulos</label>
    <input type="text" class="form-control" name="cantidad" ng-model="formData.cantidad">
    </div>

    </div>
    <div class="modal-footer">
    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
    </div>
    </div>
    </div>
    </div>
</script>