<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Usuarios <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Editar Usuarios
            </li>
        </ol>


        <div id="status-buttons">
            <a ui-sref-active="active" ui-sref=".datosbasicosusuarioespecifico"><span>1</span> Datos Básicos</a>
            <a ui-sref-active="active" ui-sref=".clientesusuarioespecifico"><span>2</span> Clientes Asociados</a>
            <a ui-sref-active="active" ui-sref=".rolesusuarioespecifico"><span>3</span> Roles Asociados</a>
            <a ui-sref-active="active" ui-sref=".accesosusuarioespecifico"><span>3</span> Ajustes</a>
        </div>


        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="processFormUsuario()">
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>

    </div>

</div>	



