<div id="page-wrapper">
    <div class="container-fluid" ng-controller="Controller">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Grupos Corporativos <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/creargrupocorporativo">
                        <div class="panel-footer">
                            <span class="pull-left">Crear Grupo Corporativo</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/gruposcorporativos">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos Activos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listagruposcorporativosinactivos">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos Inactivos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
           
            </div>

            <ol class="breadcrumb">
                <li class="active">
                    <i class="center"></i> <h3>Información del Grupo
                    </h3>
                </li>
            </ol>
            <form ng-submit="processFormGrupo()"><!--Crear el proces en el controller o enviar parametro para la accion-->

                <div class="form-group">
                    <label for="nombre">Nombre del Grupo Corporativo</label>
                    <input type="text" class="form-control" name="nombre" ng-value="posts.nombre" ng-model="formData.nombre">
                </div>   

                <ol class="breadcrumb">
                    <button type="button" ng-click="showClientes()" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span> Agregar Clientes a este Grupo
                    </button>
                </ol>
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th> 
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX"  dir-paginate="clientes in posts.clientes|filter:search|itemsPerPage:pageSize">
                                <td>{{clientes.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="eliminarClienteGrupo(clientes.nombre)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

                <div class="col-xs-3">

                    <button type="submit" class="btn btn-block btn-warning">Editar Grupo Corporativo</button>
                </div> 
            </form>
        
    </div>
</div>

<script type="text/ng-template" id="modalclientes.html">
    <div class="modal fade">
    <div class="modal-dialog" id="mdialTamanio">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Clientes que serán asociados al Grupo Corporativo</h4>
    </div>
    <div class="modal-body" ng-controller="Controller">

            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-xs-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
    <div class="panel-body">
    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
    <thead>
    <tr>
    <th>Nombre del Cliente</th>                                
    <th>Asociar</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
    <td>{{post.nombre}}</td>
    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
    </tr>

    </tbody>
    </table>
    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
    </div>


    </div>
    <div class="modal-footer">
    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
    </div>
    </div>
    </div>
    </div>
</script>