<div id="page-wrapper">
    <div class="container-fluid" ng-controller="Controller">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Grupos de Selección <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/creargruposdeseleccion">
                        <div class="panel-footer">
                            <span class="pull-left">Crear Grupo</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/gruposdeseleccion">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos Activos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listagruposeleccioninactivos">
                        <div class="panel-footer">
                            <span class="pull-left">Grupos Inactivos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
</div>
        
        <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Información del Grupo de Selección
            </h3>
        </li>
    </ol>
        <form ng-submit="processFormGrupoSeleccion()"><!--Crear el proces en el controller o enviar parametro para la accion-->
        <div class="form-group">
            <label for="nombre">Nombre del Grupo</label>
            <input type="text" class="form-control" id="nombre" name="nombre" ng-value="posts.nombre" ng-model="formData.nombre">
        </div>
            
            <ol class="breadcrumb">
            <li class="active">
                <i class=""></i> <h3>Caracteristicas del Precio </h3>
            </li>
        </ol>
            
            
            <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover">
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Incremento por Articulo</td>
                                <td><input ng-click="showme = false" type="radio" name="optradio"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Incremento por Grupo</td>
                                <td><input ng-click="showme = true" type="radio" name="optradio"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>El Precio mas Alto</td>
                                <td><input ng-click="showme = false" type="radio" name="optradio"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>No Aplica</td>
                                <td><input ng-click="showme = false" type="radio" name="optradio"></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
            
            
            <div class="wrapper">
                        <p ng-hide="showme"></p>
                        <div class="form-group" ng-show="showme">

                            <label for="input" class="control-label col-lg-2 col-md-4">Incremento de Grupo:</label>
                            <div class="col-lg-10 col-md-8">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class=""></i> <h3>Tipo de Selección </h3>
                        </li>
                    </ol>
            
            <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover">

                        <tbody>
                            <tr class="odd gradeX">
                                <td>Abierta</td>
                                <td><input ng-click="showme = false" type="radio" name="optradio1"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Cerrada</td>
                                <td><input ng-click="showme = true" type="radio" name="optradio1"></td>
                            </tr>

                        </tbody>
                    </table>
                    
                </div>
            
                  
        <ol class="breadcrumb">
        
    <button type="button" ng-click="show('./rest/articulo/?mostrar=activos/')" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Articulos a este Grupo de Selección
            </button>
            
        </ol>
        <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th> 
                                <th>Unidad</th>
                                <th>Incrementa</th>
                                <th>Descarga de Kardex</th>
                                <th>Mayor Valor</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="articulos in posts.articulos">
                                <td>{{articulos.nombreArticulo}}</td>
                                <td>{{articulos.nombreUnidad}}</td>
                                <td>{{articulos.incrementoPrecio}}</td>
                                <td>{{articulos.cantidadADescargar}}</td>
                                <td>{{}}</td>
                                <td>
                                <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
          
<div class="col-xs-3">

                <button type="submit" class="btn btn-block btn-warning">Editar Grupo de Selección</button>
            </div> 
            </form>
    
</div>
    </div>
<script type="text/ng-template" id="modal.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Articulos para la Selección</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
              
              <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-xs-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
              <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>       
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>                    
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
              
              
              
                <div class="form-group">
                    <label for="input" class="control-label">Unidad</label>
                        <input type="text" class="form-control">
                </div>
        <div class="form-group">
                    <label for="input" class="control-label">Incrementa</label>
                        <input type="text" class="form-control">
                </div>
        
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>