<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Marcas <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/crearmarca">
                        <div class="panel-footer">
                            <span class="pull-left">Crear Marca</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/marcas">
                        <div class="panel-footer">
                            <span class="pull-left">Marcas Activas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">                         
                    <a href="#/listamarcasinactivas">
                        <div class="panel-footer">
                            <span class="pull-left">Marcas Inactivas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
</div>
        
        <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Información de la Marca
            </h3>
        </li>
    </ol>
        <form ng-submit="processFormMarca()"><!--Crear el proces en el controller o enviar parametro para la accion-->
        <div class="form-group">
            <label for="nombre">Nombre de la Marca</label>
            <input type="text" class="form-control" name="nombre" ng-value="posts.nombre" ng-model="formData.nombre">
        </div>
                  
        <ol class="breadcrumb">
        
        <button type="button" ng-controller="Controller" ng-click="showClientes()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar propietario a la marca
        </button>
    </ol>
        <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre</th> 
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="item in postsCliente track by $index">
                                <td>{{item.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="eliminarMarca(item)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
<div class="col-xs-3">

                <button type="submit" class="btn btn-block btn-warning">Editar Marca</button>
            </div>  

        </form>   
    
</div>
    </div>




         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Clientes que serán asociados a la Marca</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Cliente</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:10">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" value="{{post.id}}" name="asociar{{post.nombre}}" ng-model="post.checked" ng-click="selection($index, posts)"></td>
                            </tr>
                        </tbody>
                        <button type="button" ng-click="addData()" class="btn btn-success" >Agregar</button>
                    </table>
                    
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>