<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Puntos <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Datos del Punto 
            </li>
        </ol>

        <div id="status-buttons">
            <a ui-sref-active="active" ui-sref=".datosbasicospuntoespecifico"><span>1</span> Datos Básicos</a>
            <a ui-sref-active="active" ui-sref=".configpuntoespecifico"><span>2</span> Configuración</a>
            <a ui-sref-active="active" ui-sref=".marcabodegapuntoespecifico"><span>3</span> Marcas y Bodegas</a>
        </div>

        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="processFormPuntoEspecifico()">
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>

    </div>

</div>	