<div ng-controller="Controller">
<!--   
<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Ajustes del Cliente</h3>
        </li>
    </ol>
-->

<div class="alert alert-info">Ajustes del Cliente</div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="col-lg-12 col-md-6 col-sm-3">
 
<tr>
    <td>
        <div class="form-group">
        <label>
            <input type="checkbox" name="recetaporpunto" ng-model="formData.recetaporpunto">        
        </label>
        Puede manejar receta diferencial por punto
    </div>
    </td>
</tr>
<tr>
    <td>
        <div class="form-group">
        <label>
            <input type="checkbox" name="recetaporcanal" ng-model="formData.recetaporcanal">
        </label>
        Puede manejar receta diferencial por canal
    </div>
    </td>
</tr>  
<tr>
    <td>
        <div class="form-group">
        <label>
            <input type="checkbox" name="empaqueporpunto" ng-model="formData.empaqueporpunto">
        </label>
        Puede manejar empaque diferencial por punto
    </div>
    </td>
</tr> 
<tr>
    <td>
        <div class="form-group">
        <label>
            <input type="checkbox" name="empaqueporcanal" ng-model="formData.empaqueporcanal">
        </label>
        Puede manejar empaque diferencial por canal
    </div>
    </td>
</tr>
</table>
</div>
    </div>


<div class="alert alert-info">Configuración de Régimen</div>

<button type="button"  ng-click="showConfRegimen()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Impuesto y Régimen que utiliza el Cliente
            </button>


    <ol class="breadcrumb">
          
                <div class="col-lg-4">
                    <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
          
          
                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
   
            <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>País</th>                                
                                <th>Impuesto</th>
                                <th>Régimen</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate= "ImpuestoReg in ImpuestoRegimen|filter:search|itemsPerPage:pageSize track by $index">
                                <td>{{ImpuestoReg.pais}}<!--<input type="hidden" name="pais" id="pais" ng-model="formData.pais=ImpuestoReg.idpais">--></td>                                
                                <td>{{ImpuestoReg.impuesto}}<!--<input type="hidden" name="impuesto" id="impuesto" ng-model="formData.impuesto=ImpuestoReg.idimpuesto">--></td>   
                                <td>{{ImpuestoReg.regimen}}<!--<input type="hidden" name="regimen" id="regimen" ng-model="formData.regimen=ImpuestoReg.id">--></td>  
                                <td>
                                   
                                
                                    
                                    <button type="button" class="btn btn-default btn-md" id="{{ImpuestoReg.id}}" ng-click="removeDataImp($event)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>   
                                </td>  
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
        
            
           
    </ol>

<div class="container-fluid">

    <div class="form-group row">

        <div class="col-xs-3">
            
       
                
            
         
            
           
            
            <button ui-sref="crearclientes.datosbasicos" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>
        </div>
        <div class="col-xs-3">
            <button  ui-sref="crearclientes.canalesimp" class="btn btn-block btn-info" >
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
        
        
       
    </div>
</div>

</div>

<script type="text/ng-template" id="modalconfregimen.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Configuracion de Régimen</h4>
              </div>
              <div class="modal-body">
                
                
                <div class="panel-body">
                
    <div ng-show="showMessage">
        <div ng-if="message">
            <div class="alert {{tipo}} alert-dismissible">
                <a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message}}</strong>
            </div>
        </div>
    </div>         
                
<div ng-controller="cargarlistasController">






    <div class="form-group">
        <label for="pais">País *</label>
        <select class="charge_select form-control ui-wizard-content" id="pais" name="pais" ng-model="formData.pais" ng-options="post.nombre for post in postsPais" ng-value="{{post.id}}" ng-change="cargaimpuesto(formData.pais)"  ng-required="true">
</select> 
    </div>
 
    <div class="form-group">
        <label for="impuesto">Impuesto *</label>
        <select class="charge_select form-control ui-wizard-content" id="impuesto" name="impuesto" ng-model="formData.impuesto" ng-options="post.nombre for post in postsImpuesto" ng-value="{{post.id}}" ng-change="cargaregimen(formData.impuesto)"  ng-disabled="!formData.pais"  ng-required="true">
</select>
    </div>

    <div class="form-group">
        <label for="regimen">Régimen *</label>
        <select class="charge_select form-control ui-wizard-content" id="regimen" name="regimen" ng-model="formData.regimen" ng-options="post.nombre for post in postsRegimen" ng-value="{{post.id}}"  ng-disabled="!formData.pais || !formData.impuesto" ng-required="true">
</select>
    </div>
    </div>
    
    
                    <input type="button"  class="btn btn-success btn-sm" ng-click="addData()" value="Agregar" />
                </div>
                
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>País</th>    
                                    <th>Impuesto</th>  
                                    <th>Régimen</th>  
                                    <th>Acciones</th>
                                </tr>
                            </thead> 
                    <tbody>
                            <tr class="odd gradeX" ng-repeat="data in myData">
                                    <td>{{data.pais}}</td>
                                    <td>{{data.impuesto}}</td>
                                    <td>{{data.regimen}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeData(data)">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                        </button> 
                                    </td>
                            </tr>
                    </tbody>
                    </table>
            {{data}}
            {{data.pais}}
            
                </div>
        
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>

 
     </script>
     
     
