<div class="alert alert-info">Inventario Articulo</div>
<!--
<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Inventario</h3>
        </li>
    </ol>
-->
<div class="container-fluid">

<div ng-controller="cargarlistasClaseController">
        <div class="form-group">
            <label for="claseinventario">Clase de Inventario</label>
            <select class="charge_select form-control ui-wizard-content" id="claseinventario" name="claseinventario" ng-model="formData.claseinventario" ng-options="post.nombre for post in postsclaseinventario" ng-value="{{post.id}}" ng-change="grupoinventario(formData.claseinventario)" ng-required="true">
            </select>
            <p ng-if="form.claseinventario.$error.required && form.claseinventario.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>
    
    
    
    
    <div class="form-group">
            <label for="grupoinventario">Grupo de Inventario</label>
            <select class="charge_select form-control ui-wizard-content" id="grupoinventario" name="grupoinventario" ng-model="formData.grupoinventario" ng-options="post.nombre for post in postsgrupoinventario" ng-value="{{post.id}}"  ng-disabled="!formData.claseinventario" ng-required="true">
            </select>
            <p ng-if="form.grupoinventario.$error.required && form.claseinventario.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>

    </div>
    <div ng-controller="cargarunidadKardexController">
    
   <div class="form-group">
            <label for="unidadkardex">Unidad de Kardex</label>
            <select class="charge_select form-control ui-wizard-content" id="unidadkardex" name="unidadkardex" ng-model="formData.unidadkardex" ng-options="post.nombre for post in postsunidadkardex" ng-value="{{post.id}}" ng-required="true">
            </select>
            <p ng-if="form.unidadkardex.$error.required && form.unidadkardex.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>
        
        
        <div class="form-group">
            <label for="unidadalterna">Unidad Alterna</label>
            <select class="charge_select form-control ui-wizard-content" id="unidadalterna" name="unidadalterna" ng-model="formData.unidadalterna" ng-options="post.nombre for post in postsunidadalterna" ng-value="{{post.id}}" ng-required="true">
            </select>
            <p ng-if="form.unidadalterna.$error.required && form.unidadalterna.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>
    
    </div>
    

    <label>Usar Máximos y Mínimos  <input type="checkbox" ng-model="checked"/></label><br/>

<span ng-if="checked" class="animate-if">
  <ol class="breadcrumb">
        <button type="button" ng-click="showMaxMin()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Máximos y Mínimos
            </button>  
        
        <div class="panel-body">
         <div class="col-lg-4">
                    <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
          
          
                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
          
            <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Punto</th>                                
                                <th>Mínimos</th>
                                <th>Máximos</th>                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate= "maxmin in MaximosMinimos|filter:search|itemsPerPage:pageSize">
                                <td>{{maxmin.asociarMaxMin}}</td>
                                <td>{{maxmin.minimo}}</td> 
                                <td>{{maxmin.maximo}}</td> 
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="removeData(data)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>   
                                </td>  
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
            </div>
    </ol>
</span>
    
    
    


    <ol class="breadcrumb">
        <button type="button" ng-click="showUnidadCompra()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Unidad de Compra
            </button>
        <div class="panel-body">
         <div class="col-lg-4">
                    <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
          
          
                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
          
            <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Canal</th>                                
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate= "unidad in unidadCompras|filter:search|itemsPerPage:pageSize">
                                <td>{{unidad}}</td>                                
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="removeData(data)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>   
                                </td>  
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
            </div>
    </ol>
 
    <ol class="breadcrumb">
        
        <button type="button" ng-click="showBodegas()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Bodegas
            </button>
        <div class="panel-body">
            <div class="col-lg-4">
                    <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
          
          
                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre de la Bodega</th>                                
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="bodega in postsBodegas|filter:search|itemsPerPage:pageSize">
                                <td>{{bodega.nombre}}</td>                                
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="removeData(data)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>  
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
        
                </div>
            
    </ol>
  
 
        <div class="form-group row">
            <div class="col-xs-3">
                <a ui-sref="creararticulo.datosbasicosarticulo" class="btn btn-block btn-warning">
                    Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
    
            <div class="col-xs-3">
            <button ui-sref="creararticulo.empaquearticulo" class="btn btn-block btn-info" >Siguiente y Guardar <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
             
            </div>
        </div>
    </div>
   
    <script type="text/ng-template" id="modalmaxmin.html">
             <div class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal de Máximos y Mínimos</h4>
                  </div>
                  <div class="modal-body">
                  
                  <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre del Punto</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociarMaxMin" name="asociarMaxMin" ng-model="formData.asociarMaxMin" ng-true-value="{{post.nombre}}"></td>
                                  
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>
                    
                        <div class="form-group">
            <label for="minimo">Mínimo</label>
            <input type="text" class="form-control" name="minimo" ng-model="formData.minimo">
        </div>
    
        <div class="form-group">
            <label for="maximo">Máximo</label>
            <input type="text" class="form-control" name="maximo" ng-model="formData.maximo">
        </div>
                    
               <input type="button"  class="btn btn-success btn-sm" ng-click="addData()" value="Agregar" />     
                  </div>
          
          
          
                  <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre del Punto</th>
                                    <th>Mínimos</th> 
                                    <th>Máximos</th> 
                                    <th>Acción</th>
                                </tr>
                            </thead> 
                    <tbody>
                            <tr class="odd gradeX" ng-repeat="data in myDataMaxMin" >
                                    <td>{{data.asociarMaxMin.nombre}}</td>
                                    <td>{{data.minimo}}</td>
                                    <td>{{data.maximo}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeData(data)">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                        </button> 
                                    </td>
                            </tr>
                    </tbody>
                    </table>
                </div>
          
          
                  <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
    </script>

  

             
    
    
    
    <script type="text/ng-template" id="modalunidadcompra.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal Unidad de Compra</h4>
              </div>
              <div class="modal-body">
                
                
                <div class="panel-body">
              
                    <div class="form-group">
                    <div ng-controller="cargarunidadKardexController">

        <div class="form-group">
            <label for="unidadalterna">Unidad Alterna</label>
            <select class="charge_select form-control ui-wizard-content" id="unidadalterna" name="unidadalterna" ng-model="formData.unidadalterna" ng-options="post.nombre for post in postsunidadalterna" ng-value="{{post.id}}" ng-required="true">
            </select>
        </div>
    
    </div>
                    <input type="button"  class="btn btn-success btn-sm" ng-click="addData()" value="Agregar" />
                </div>
                    Falta Link para mostrar la tabla de conversiones
                    <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre del grupo</th>                                
                                    <th>Acciones</th>
                                </tr>
                            </thead> 
                    <tbody>
                            <tr class="odd gradeX" ng-repeat="data in myDataUnidad" >
                                    <td>{{data.unidadalterna.nombre}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeData(data)">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                        </button> 
                                    </td>
                            </tr>
                    </tbody>
                    </table>
                </div>
                </div>
                
              </div>
      
            
                    
                    
      
      
              <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
    
    
    
    
    
    

    <script type="text/ng-template" id="modalbodegas.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Bodegas</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre de la Bodega</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociarBodega" name="asociarBodega" checklist-model="formData.asociarBodega" checklist-value="post"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
    </script>
