    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Clientes <small>Resumen de Estadísticas</small>
                </h1>

            </div>
        </div>

        <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Información del Cliente
            </h3>
        </li>
    </ol>
        
        <div class="form-group">
            <label for="nombre">Nombre del Cliente</label>
            <input type="text" class="form-control" name="nombre" ng-value="posts.nombre" ng-model="formData.nombre">
          
            <label for="nit">Nit del Cliente</label>
            <input type="text" class="form-control" name="nit" ng-value="posts.nit" ng-model="formData.nit">
                        
            <label for="digitoChequeo">Dígito de checkeo del Cliente</label>
            <input type="text" class="form-control" name="digitoChequeo" ng-value="posts.digitoChequeo" ng-model="formData.digitoChequeo">
            
            <label for="direccion">Dirección del Cliente</label>
            <input type="text" class="form-control" name="direccion" ng-value="posts.direccion" ng-model="formData.direccion">
            
            <label for="telefono">Teléfono del Cliente</label>
            <input type="text" class="form-control" name="telefono" ng-value="posts.telefono" ng-model="formData.telefono">
            
            <label for="extension">Extensión</label>
            <input type="text" class="form-control" name="extension" ng-value="posts.extension" ng-model="formData.extension">
            
            <label for="celular">Celular del Cliente</label>
            <input type="text" class="form-control" name="celular" ng-value="posts.celular" ng-model="formData.celular">
            
            <label for="email">Email del Cliente</label>
            <input type="text" class="form-control" name="email" ng-value="posts.email" ng-model="formData.email">
            
            <label for="regimen_id">Régimen Id del Cliente</label>
            <input type="text" class="form-control" name="regimen_id" ng-value="posts.regimen_id" ng-model="formData.regimen_id">
            
            <label for="nombreRepresentante">Nombre del Representante Legal</label>
            <input type="text" class="form-control" name="nombreRepresentante" ng-value="posts.nombreRepresentante" ng-model="formData.nombre">
            
            <label for="documentoRepresentante">Documento del Representante Legal</label>
            <input type="text" class="form-control" name="documentoRepresentante" ng-value="posts.documentoRepresentante" ng-model="formData.documentoRepresentante">
            
            <label for="nombreDueno">Nombre del Dueño</label>
            <input type="text" class="form-control" name="nombreDueno" ng-value="posts.nombreDueno" ng-model="formData.nombreDueno">
            
            <label for="mailDueno">Email del Dueño</label>
            <input type="text" class="form-control" name="mailDueno" ng-value="posts.mailDueno" ng-model="formData.mailDueno">
            
            <label for="celularDueno">Celular del Dueño</label>
            <input type="text" class="form-control" name="celularDueno" ng-value="posts.celularDueno" ng-model="formData.celularDueno">
            
            <label for="nombre">Pais</label>
            <input type="text" class="form-control" name="nombre" ng-value="postsPais.nombre" ng-model="formData.pais">
            
            <label for="nombre">Departamento</label>
            <input type="text" class="form-control" name="nombre" ng-value="postsDep.nombre" ng-model="formData.departamento">
            
            <label for="municipio">Municipio</label>
            <input type="text" class="form-control" name="municipio" ng-value="postsMun.nombre" ng-model="formData.municipio">
            
            
        <div class="form-group row">
        <div class="col-xs-3">

            <a ui-sref="buscarcliente.ajustesclienteclienteespecifico({id: posts.id})" class="btn btn-block btn-info">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>   
          
        </div>
        
        </div>
        </div> 
    </div>
           



