<div class="container-fluid" ng-controller="Controller">

   <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Marcas a asociar al Punto
            </h3>
        </li>
    </ol>
         condicion: {{posts}}
       <div ng-if="message">
<div class="alert {{tipo}} alert-dismissible">
  <a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{message}}</strong>
</div>
</div>
        
        <ol class="breadcrumb">
            <button type="button"  ng-click="showMarcas()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Marcas Asociadas al punto
            </button>
        </ol>
       
            <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
                <div class="col-lg-4">
              <label for="search">Items por Página</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            </div>
           

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre de la Marca</th>
                                <th>Asignar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="marca in postsMarcas|filter:search|itemsPerPage:pageSize">
                                <td>{{marca.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="eliminarMarcas($index)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                

    
    <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3> Bodegas a asociar al  Punto
            </h3>
        </li>
    </ol>
        
        <ol class="breadcrumb">
            <button type="button" ng-click="showBodegas()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Bodegas Asociadas al Punto
            </button>
        </ol>

            <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
                <div class="col-lg-4">
              <label for="search">Items por Página</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            </div>
       

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre de la bodega</th>
                                <th>Asignar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="bodegas in postsBodegas|filter:search|itemsPerPage:pageSize">
                                <td>{{bodegas.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="eliminarBodega(bodegas.nombre)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>


    
    
</div>




        <div class="col-xs-3">
            
            <a ui-sref="crearpunto.configuracionpunto({id: posts})" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-block btn-success">Guardar Punto</button>
        </div>

<script type="text/ng-template" id="modalmarcas.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Marcas</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
                <div class="col-xs-4">
              <label for="search">Items por Página</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociarMarca" name="asociarMarca" checklist-model="formData.asociarMarca" checklist-value="post"></td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" ng-disabled="!formData.asociarMarca" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     
     
     <script type="text/ng-template" id="modalbodegas.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Bodegas</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
                <div class="col-xs-4">
              <label for="search">Items por Página</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            </div>
                <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre de la Bodega</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociarBodega" name="asociarBodega" checklist-model="formData.asociarBodega" checklist-value="post"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
    </script>