<div ng-controller="Controller">
<ol class="breadcrumb">
            <li class="active">
                <i class=""></i> <h3>Cliente asociado al Usuario</h3> 
            </li>
        </ol>

    <div class="container-fluid">

        <div class="row">
            
            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            
            <div class="col-lg-12">

                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Razón Social</th>
                                <th>Nit</th>
                                <th>Teléfono</th>
                                <th>Nombre del Propietario</th>
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td>{{post.nit}}</td>
                                <td>{{post.telefono}}</td>
                                <td>{{post.nombreRepresentante}}</td>
                                <td><input type="checkbox" id="idCliente" name="idCliente" ng-model="formData.idCliente" ng-true-value="{{post.id}}"></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>

        </div>
        <div class="form-group row">

            <div class="col-xs-3">
                <button ui-sref="crearusuario.datosbasicosusuarios" class="btn btn-block btn-warning">
                    Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </button>
            </div>
            <div class="col-xs-3">
                <button ui-sref="crearusuario.rolesusuario" class="btn btn-block btn-info" ng-disabled="!formData.idCliente">
                    Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>
        </div>

    </div>

</div>