<div ng-controller="Controller">
<ol class="breadcrumb">
            <li class="active">
                <i class=""></i> <h3>Roles Asociados al Usuario</h3> 
            </li>
        </ol>

    <div ng-if="message">
<div class="alert {{tipo}} alert-dismissible">
<a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{message}}</strong>
</div>
</div>

    <div class="container-fluid">

        <div class="row">
            
            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
            
            <div class="col-lg-12">

                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Rol</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="rol in roles|filter:search|itemsPerPage:pageSize">
                                <td>{{rol.nombre}}</td>                                
                                <td><input type="checkbox" id="id" name="id" checklist-model="formData.id" checklist-value="rol"></td>
                                
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>

        </div>
        <div class="form-group row">

            <div class="col-xs-3">
                <button ui-sref="crearusuario.clienteusuario" class="btn btn-block btn-warning">
                    Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </button>
            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-block btn-success" ng-disabled="!formData.id">Guardar Usuario</button>
            </div>
        </div>
    </div>
</div>
