<div class="alert alert-info">Configurar Canales e Inpuestos al Cliente</div>

<!--
<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Asignar Canales al Cliente</h3>
        </li>
    </ol>
-->
<div ng-show="showMessage">
    <div ng-if="message">
        <div class="alert {{tipo}} alert-dismissible">
          <!--<a href="{{ruta}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
          <strong>{{message}}</strong>
        </div>
    </div>
</div>
                                                           

     
<ol class="breadcrumb">
        <button type="button" ng-click="showOperacionImp()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Como opera el Impuesto
            </button>
    </ol>

    <ol class="breadcrumb">
          
                <div class="col-lg-4">
                    <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
          
            <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Canal</th>                                
                                <th>Impuesto</th>
                                <th>Impuesto mas Usado</th>
                                <th>Unica Tarifa por Canal</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate= "imp in operacionImp|filter:search|itemsPerPage:pageSize">
                                <td>{{imp.canal}}<!--<input type="hidden" name="canal" id="canal" ng-model="formData.canal=imp.canal">--></td>                                
                                <td>{{imp.impuesto}}/{{imp.regimen}}<!--<input type="hidden" name="impuesto" id="impuesto" ng-model="formData.impuesto=imp.impuesto">--></td>   
                                <td>{{imp.impmasusado}}<!--<input type="hidden" name="impmasusado" id="impmasusado" ng-model="formData.impmasusado=imp.impmasusado">--></td>
                                <td>{{imp.unicatarifa}}<!--<input type="hidden" name="unicatarifa" id="unicatarifa" ng-model="formData.unicatarifa=imp.unicatarifa">--></td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="removeData(data)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>   
                                </td>  
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
        
            
           
    </ol>


    <div class="form-group row">

        <div class="col-xs-3">
            <button ui-sref="crearclientes.ajustescliente" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-block btn-success">Guardar Cliente</button>
        </div>
    </div>
</div>


<script type="text/ng-template" id="modaloperacionimp.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Seleccione el Impuesto para el Canal</h4>
              </div>
              <div class="modal-body">
                
                
                <div class="panel-body">
              
<div ng-controller="cargarcanalController">

    <div class="form-group">
        <label for="canal">Canal *</label>
        <select class="charge_select form-control ui-wizard-content" id="canal" name="canal" ng-model="formData.canal" ng-options="post.nombre for post in postsCanal" ng-value="{{post.id}}" ng-change="cargacanal(formData.canal)" ng-required="true">
</select> 
    </div>
 
    <div class="form-group" ng-controller="Controller">
        <label for="impuesto">Impuesto *</label>
        <select class="charge_select form-control ui-wizard-content" id="impuesto" name="impuesto" ng-model="formData.impuesto" ng-options="post.impuesto +' '+ post.regimen for post in ImpuestoRegimen" ng-value="{{post.id}}"  ng-required="true">
</select>



    </div>

    </div>

            
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="impmasusado" ng-model="formData.impmasusado" >        
                        </label>
                        Este es el Impuesto más usado
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="unicatarifa" ng-model="formData.unicatarifa" >        
                        </label>
                        Maneja única tarifa por canal
                    </div>
                        <input type="button"  class="btn btn-success btn-sm" ng-click="addData()" value="Agregar" />
                    </div>
                
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Canal</th>    
                                    <th>Impuesto</th> 
                                    <th>Tarifa única por canal</th> 
                                    <th>Impuesto mas usado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead> 
                    <tbody>
                            <tr class="odd gradeX" ng-repeat="data in myDataImp">
                                    <td>{{data.canal}}</td>
                                    <td>{{data.impuesto}}/{{data.regimen}}</td>
                                    <td>{{data.impmasusado}}</td>
                                    <td>{{data.unicatarifa}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="removeData(data)">
                                            <span class="glyphicon glyphicon-minus-sign"></span>
                                        </button> 
                                    </td>
                            </tr>
                    </tbody>
                    </table>
                </div>
        
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>



     </script>
     

     
     
     
