<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Asignar Canales al Cliente</h3>
        </li>
    </ol>

<div class="container-fluid" ng-controller="Controller">

        
        <button type="button" ng-click="" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span> Como Opera el Impuesto
                    </button>

                <ol class="breadcrumb">

                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example1">
                        <thead>
                            <tr>
                                <th>Nombre del Canal</th>
                                <th>Impuesto</th>  
                                <th>Regimen</th>  
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="canalImp in postsCanalImp|filter:search|itemsPerPage:pageSize">
                                <td>{{canalImp.canal}}</td>
                                <td>{{canalImp.impuesto}}</td>
                                <td>{{canalImp.regimen}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
             </ol> 
        


    <div class="form-group row">

        <div class="col-xs-3">
            <a ui-sref="buscarcliente.ajustesclienteclienteespecifico({id: post})" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-block btn-success">Guardar Cliente</button>
        </div>
    </div>
  
        
</div>




