<ol class="breadcrumb">
    <li class="active">
        <i class="center"></i> <h3>Informacion del Cliente</h3>
    </li>
</ol>

<div class="container-fluid">     
    <div class="form-group">
        <label for="nombre">Nombre del punto*</label>
        <input type="text" class="form-control" id="nombre" name="nombre"  ng-model="formData.nombre"  title="Se necesita un Nombre" minlength=2 maxlength=100 ng-required="true" placeholder="Minimo 2 Caracteres" required>
        <p ng-if="form.nombre.$error.required && form.nombre.$touched" class="alert-danger">Este campo es requerido.</p>
    </div>

    <div class="form-group">
        <label for="direccion">Dirección*</label>
        <input type="text" title="Se necesita una Dirección" class="form-control" name="direccion" ng-model="formData.direccion" minlength=1 maxlength=100 ng-required="true" placeholder="Minimo 1 Caracteres" required>
        <p ng-if="form.direccion.$error.required && form.direccion.$touched" class="alert-danger">Este campo es requerido.</p>
    </div>
    <div class="form-group">
        <label for="telefono1">Teléfono 1*</label>
        <input type="number" title="Se necesita un Teléfono" class="form-control" name="telefono1" ng-model="formData.telefono" minlength=7 maxlength=25 ng-required="true" placeholder="Minimo 7 Caracteres" required> 
        <p ng-if="form.telefono1.$error.required && form.telefono1.$touched" class="alert-danger">Este campo es requerido.</p>
    </div>

    <div class="form-group">
        <label for="extension">Extensión</label>
        <input type="text" title="Se necesita una Extensión" class="form-control"  id="extension" name="extension" ng-model="formData.extension"minlength="1" maxlength="4" onkeypress="return solonumeros(event)" >
        </div>

    <div class="form-group">
        <label for="telefono2">Teléfono 2</label>
        <input type="text" title="Se necesita Teléfono" class="form-control" id="telefono2" name="telefono2" ng-model="formData.telefono2" minlength="7" maxlength="25" ng-required="true" placeholder="Mínimo 7 Caracteres" onkeypress="return solonumeros(event)">
    </div>

    <div class="form-group">
        <label for="extension2">Extensión</label>
        <input type="text" title="Se necesita un Extensión" class="form-control" id="extension" name="extension2" ng-model="formData.extension2" minlength="1" maxlength="4" onkeypress="return solonumeros(event)" >
 
    </div>
    <div class="form-group">
        <label for="centro_costo_id">Centro Costos</label>
        <input type="text" title="Se necesita un Centro de Costos" class="form-control" name="centro_costo_id" ng-model="formData.centro_costo_id">
    </div>    
    <div class="form-group">

        <label for="tipo_negocio_id">Tipo Negocio</label>                
        <select class="charge_select form-control ui-wizard-content" id="negocio" name="negocio" ng-model="formData.negocio" >
            <option value="1">Cafetería</option> 
            <option value="2">Bar</option> 
            <option value="3">Restaurantes</option>
            <option value="4">Mixto</option> 
        </select>
        <p ng-if="form.negocio.$error.required && form.negocio.$touched" class="alert-danger">Este campo es requerido.</p>



    </div>

    <div ng-controller="cargarlistasController">
        <div class="form-group">
            <label for="pais">País *</label>
            <select class="charge_select form-control ui-wizard-content" id="pais" name="pais" ng-model="formData.pais" ng-options="post.nombre for post in postsPais" ng-value="{{post.id}}" ng-change="cargadepartamento(formData.pais)" ng-required="true" required>
            </select>
            <p ng-if="form.pais.$error.required && form.pais.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>



        <div class="form-group">
            <label for="departamento">Departamento *</label>
            <select class="charge_select form-control ui-wizard-content" id="departamento" name="departamento" ng-model="formData.departamento" ng-options="post.nombre for post in postsDepartamento" ng-value="{{post.id}}" ng-change="cargamunicipio(formData.departamento)" ng-disabled="!formData.pais" ng-required="true" required>
            </select>
            <p ng-if="form.departamento.$error.required && form.departamento.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>

        <div class="form-group">
            <label for="municipio">Municipio *</label>
            <select class="charge_select form-control ui-wizard-content" id="municipio" name="municipio" ng-model="formData.municipio" ng-options="post.nombre for post in postsMunicipio" ng-value="{{post.id}}"  ng-disabled="!formData.pais || !formData.departamento" ng-required="true" required>
            </select>
            <p ng-if="form.municipio.$error.required && form.municipio.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>
    </div>



    <div class="form-group row">
        <div class="col-xs-3">
            <button ui-sref="crearpunto.configuracionpunto({id: posts})" ng-click="guardar()" class="btn btn-block btn-info" ng-disabled="!formData.nombre || !formData.direccion || !formData.telefono || !formData.negocio || !formData.pais || !formData.departamento || !formData.municipio">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>                        

        </div>
    </div>    
</div>
