    <div class="container-fluid" ng-controller="Controller">
       <ol class="breadcrumb">
        <button type="button"  ng-click="" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Marcas al Punto
            </button>
    </ol>
        <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre de la Marca</th> 
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX"  ng-repeat="marcas in posts.marcas">
                                <td>{{marcas.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
        
        <ol class="breadcrumb">
        <button type="button"  ng-click="showBodegas()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Bodegas al Punto
            </button>
    </ol>
        <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre de la Bodega</th> 
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX"  ng-repeat="bodegas in posts.bodegas">
                                <td>{{bodegas.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
        
        <div class="form-group row">

        <div class="col-xs-3">
            <a ui-sref="buscarpuntoespecifico.configpuntoespecifico({id: posts.id})" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-block btn-success">Editar Punto</button>
        </div>
    </div>
        </div>
  

<script type="text/ng-template" id="modalbodegas.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Bodegas</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre de la Bodega</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
    </script>