<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Configuración del Punto
            </h3>
        </li>
    </ol>

<div class="container-fluid" ng-controller="Controller">

    <div class="row">
        
        <button type="button"  ng-click="showConfPunto()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Configuración del punto
        </button>
        <ol class="breadcrumb">

                
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
           
                <div class="col-lg-4">
                  <label for="search">Items por Página</label>
                  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            <div class="col-lg-12">

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Configuración del Punto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in conf|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="eliminarImpReg(post.nombre)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    
                </div>
                
            </div>
                
        </ol>
        
            

        </div>
</div>    




<div class="form-group row">
              
        <div class="col-xs-3">
            <a ui-sref="crearpunto.datosbasicospunto({id: posts})" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-xs-3">
            <a ui-sref="crearpunto.marcasbodegaspunto({id: posts, cond: post.nombre})" class="btn btn-block btn-info">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
</div>
    
<script type="text/ng-template" id="modalconfpunto.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Configuracion de Punto</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
                
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
           
                <div class="col-xs-4">
                  <label for="search">Items por Página</label>
                  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Configuración el el Punto</th>                                
                                <th>Configurar</th>
                                    <th>Seleccionar Todos <input type="checkbox" ng-model="all" ng-click="selectall()"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td> 
                                <td><input type="checkbox" id="confPunto" name="confPunto" checklist-model="formData.confPunto" checklist-value="post" ng-checked="all"></td>
                            
     
                           </tr>
                    
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
