    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/">
                        <div class="panel-footer">
                            <span class="pull-left">Configuración</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">                         
                    <a href="#/">
                        <div class="panel-footer">
                            <span class="pull-left">Listado de Recetas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">                         
                    <a href="#/">
                        <div class="panel-footer">
                            <span class="pull-left">Importar Receta</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
         <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showPuntos()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Estará en los Puntos
            </button>
    </ol>
        
        
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
            <div class="col-lg-12">

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>
                                <th>Actualizado por</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="puntos in posts.puntos|filter:search|itemsPerPage:5">
                                <td>{{puntos.nombre}}</td>
                                <td>{{puntos.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>

        </div>
        
        
        <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showCanales()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Canales
            </button>
    </ol>
   
     
        <div class="form-group">
            <label for="name">Nombre de la Receta</label>
            <input type="text" class="form-control" name="nombre" ng-model="formData.nombre">
        </div>
        <div class="form-group">
            <label for="name">Receta para</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="form-group">
        <label for="unidadventa">Unidad</label>
        <select id="unidadventa" class="charge_select form-control ui-wizard-content" name="unidadventa" ng-model="formData.unidadventa">
            <option>Unidad de Venta 1</option>
            <option>Unidad de Venta 2</option>
            <option>Unidad de Venta 3</option>
            <option>Unidad de Venta 4</option>
            <option>Unidad de Venta 5</option>
        </select>
    </div>
        
        <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showIngredientes()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Ingredientes
            </button>
    </ol>
 
        
        <div class="form-group">
            <label for="preparacion">Preparación</label>            
            <textarea id= "preparacion" class="form-control" name="preparacion" rows="4" cols="50"></textarea>
        </div>
        
    </div>
<script type="text/ng-template" id="modalpuntos.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Puntos</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     
     <script type="text/ng-template" id="modalcanales.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Canales</h4>
              </div>
              <div class="modal-body">
                
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Canal</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="post in posts">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     
     <script type="text/ng-template" id="modalingredientes.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Ingredientes</h4>
              </div>
              <div class="modal-body">
                
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Articulo</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="post in posts">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                
                <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input type="text" class="form-control" name="cantidad" ng-model="formData.cantidad">
        </div>

                    <label for="email">Unidad</label>
       <select class="charge_select form-control ui-wizard-content" name="unidadcompra" ng-model="formData.unidadcompra">
           <option>Unidad de Compra 1</option>
           <option>Unidad de Compra 2</option>
           <option>Unidad de Compra 3</option>
           <option>Unidad de Compra 4</option>
           <option>Unidad de Compra 5</option>
       </select>
   </div>

        
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>