<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Ajustes del Cliente</h3>
        </li>
    </ol>
<div class="container-fluid">

    <div ng-controller="Controller">
    <div class="form-group">
        <label>
            <input type="checkbox" id="recetaporpunto" name="recetaporpunto" ng-model="formData.recetaporpunto" value="recetaporpunto">        
        </label>
        Puede manejar receta diferencial por punto
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" id="recetaporcanal" name="recetaporcanal" ng-model="formData.recetaporcanal" value="recetaporcanal">
        </label>
        Puede manejar receta diferencial por canal
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" id="empaqueporpunto" name="empaqueporpunto" ng-model="formData.empaqueporpunto" value="empaqueporpunto">
        </label>
        Puede manejar empaque diferencial por punto
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" id="empaqueporcanal" name="empaqueporcanal" ng-model="formData.empaqueporcanal" value="empaqueporcanal">
        </label>
        Puede manejar empaque diferencial por canal
    </div>

    <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Configuración de Régimen</h3>
        </li>
    </ol>
    
    
    
    
    <button type="button" ng-click="" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span> Impuesto y Régimen que utiliza el Cliente
                    </button>

                <ol class="breadcrumb">

                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example1">
                        <thead>
                            <tr>
                                <th>País</th> 
                                <th>Impuesto</th>
                                <th>Régimen</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="regimen in postsRegimen|filter:search|itemsPerPage:pageSize">
                                <td>{{regimen.pais}}</td>
                                <td>{{regimen.impuesto}}</td>
                                <td>{{regimen.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
             </ol> 

   </div> 
    
    
    
    
<div class="container-fluid">
    

    <div class="form-group row">

        <div class="col-xs-3">
            <a ui-sref="buscarcliente.datosbasicosclienteespecifico({id: post})" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-xs-3">
            <a ui-sref="buscarcliente.canalesimpclienteespecifico({id: post})" class="btn btn-block btn-info">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
    </div>
       
</div>

