<div class="alert alert-info">Datos Básicos del Cliente</div>
<ol class="breadcrumb">
    <li class="active">
        <i class="center"></i> <h3>Información de Cliente</h3>
    </li>
</ol>

<div class="form-group">
    <label for="nombre">Razón Social *</label>        
    <input type="text" title="Se necesita un Nombre" class="form-control" id="nombre" name="nombre"  ng-model="formData.nombre" minlength="2" maxlength=100 ng-required="true" placeholder="Minimo 2 Caracteres">
    <p ng-if="form.nombre.$error.required && form.nombre.$touched" class="alert-danger">Este campo es requerido.</p>
    <p ng-if="form.nombre.$error.minlength" class="alert-danger">Minimo 2 caracteres</p>
</div>


<div class="form-group">
    <label for="nit">Nit *</label>
    <input type="text" title="Se necesita un Nit" onkeyup="format(this)" class="form-control" id="nit" name="nit" ng-model="formData.nit" minlength="6" maxlength="19" ng-required="true" placeholder="Ingrese solo Numeros minimo 5 caracteres">
    <p ng-if="form.nit.$error.required && form.nit.$touched" class="alert-danger">Este campo es requerido.</p>
    <p ng-if="form.nit.$error.minlength" class="alert-danger">Minimo 4 caracteres</p>
</div>
<div class="form-group">
    <label for="digitoChequeo">Dígito de Chequeo *</label>
    <input type="text" title="Se necesita un Dígito de Checkeo" class="form-control" id="digitoChequeo" name="digitoChequeo" ng-model="formData.digitoChequeo" maxlength="1"  placeholder="Ingrese solo Numeros" onkeypress="return solonumeros(event)" required>
    <p ng-if="form.digitoChequeo.$error.required && form.digitoChequeo.$touched" class="alert-danger">Este campo es requerido.</p>
</div>

<div class="form-group">
    <label for="telefono">Teléfono *</label>
    <input type="text" title="Se necesita un Numero de Teléfono" class="form-control" id="telefono" name="telefono" ng-model="formData.telefono" minlength="7" maxlength="25" ng-required="true" placeholder="Ingrese solo Numeros" onkeypress="return solonumeros(event)">
    <p ng-if="form.telefono.$error.required && form.telefono.$touched" class="alert-danger">Este campo es requerido.</p>
    <p ng-if="form.telefono.$error.minlength" class="alert-danger">Minimo 7 caracteres</p>
</div>
<div class="form-group">
    <label for="extension">Extensión</label>
    <input type="text" class="form-control" id="extension" name="extension" ng-model="formData.extension" minlength="1" maxlength="4" onkeypress="return solonumeros(event)">
</div>

<div class="form-group">
    <label for="celular">Celular</label>
    <input type="text" class="form-control" id="celular" name="celular" ng-model="formData.celular" minlength="5" maxlength="25" onkeypress="return solonumeros(event)">
</div>
<div class="form-group">
    <label for="email">Correo *</label>
    <input type="email" title="Se necesita una dirección de Correo"  class="form-control" id="email" name="email" ng-model="formData.email" ng-required="true" placeholder="ejemplo@gmail.com" onkeypress="return solocorreo(event)">
    <p ng-if="form.email.$error.required && form.email.$touched" class="alert-danger">Este campo es requerido.</p>
    <p ng-if="form.email.$error.email" class="alert-danger">Debe ser una direccion de correo valida.</p>
    
</div>

<div class="form-group">
    <label for="direccion">Dirección *</label>
    <input type="text" title="Se necesita una Dirección" class="form-control" id="direccion" name="direccion" ng-model="formData.direccion" minlength="1" maxlength="100" ng-required="true">
    <p ng-if="form.direccion.$error.required && form.direccion.$touched" class="alert-danger">Este campo es requerido.</p>
</div>
<div class="form-group">
    <label for="nombreDueno">Propietario *</label>
    <input type="text" title="Se necesita un Nombre de Propietario" class="form-control" id="nombreDueno" name="nombreDueno" ng-model="formData.nombreDueno" minlength="3" maxlength="100" ng-required="true">
    <p ng-if="form.nombreDueno.$error.required && form.nombreDueno.$touched" class="alert-danger">Este campo es requerido.</p>
    <p ng-if="form.nombreDueno.$error.minlength" class="alert-danger">Minimo 7 caracteres</p>
</div>

<div class="form-group">
    <label for="mailDueno">Correo del Propietario</label>
    <input type="email" class="form-control" id="mailDueno" name="mailDueno" ng-model="formData.mailDueno" placeholder="ejemplo@gmail.com" onkeypress="return solocorreo(event)">
    <p ng-if="form.mailDueno.$error.email" class="alert-danger">Debe ser una direccion de correo valida.</p>
</div>
<div class="form-group">
    <label for="celularDueno">Telefono del Propietario</label>
    <input type="text" class="form-control" id="celularDueno" name="celularDueno" ng-model="formData.celularDueno" minlength="5" maxlength="25" placeholder="Ingrese solo numeros" onkeypress="return solonumeros(event)">
</div>

<div class="form-group">
    <label for="nombreRepresentante">Nombre del Representante Legal *</label>
    <input type="text" title="Se necesita un Nombre del Representante Legal" class="form-control" id="nombreRepresentante" name="nombreRepresentante" ng-model="formData.nombreRepresentante" minlength="3" maxlength="100" ng-required="true" onkeypress="return sololetras(event)">
    <p ng-if="form.nombreRepresentante.$error.required && form.nombreRepresentante.$touched" class="alert-danger">Este campo es requerido.</p>
</div>
<div class="form-group">
    <label for="name">Documento del Representante *</label>
    <input type="text" title="Se necesita un Numero de Documanto" class="form-control" id="documentoRepresentante" name="documentoRepresentante" ng-model="formData.documentoRepresentante" minlength="3" maxlength="15" ng-required="true" placeholder="Ingrese solo numeros" onkeypress="return solonumeros(event)">
    <p ng-if="form.documentoRepresentante.$error.required && form.documentoRepresentante.$touched" class="alert-danger">Este campo es requerido.</p>
</div>

<div ng-controller="cargarlistasController">    
    <div class="form-group">
        <label for="pais">País*</label>
        <select class="charge_select form-control ui-wizard-content" id="pais" name="pais" ng-model="formData.pais" ng-options="post.nombre for post in postsPais" ng-value="{{post.id}}" ng-change="cargadepartamento(formData.pais)" ng-required="true">
        </select>
        <p ng-if="form.pais.$error.required && form.pais.$touched" class="alert-danger">Este campo es requerido.</p>
    </div>
    <div class="form-group">
        <label for="departamento">Departamento *</label>
        <select class="charge_select form-control ui-wizard-content" id="departamento" name="departamento" ng-model="formData.departamento" ng-options="post.nombre for post in postsDepartamento" ng-value="{{post.id}}" ng-change="cargamunicipio(formData.departamento)" ng-disabled="!formData.pais" ng-required="true">
        </select>
        <p ng-if="form.departamento.$error.required && form.departamento.$touched" class="alert-danger">Este campo es requerido.</p>
    </div>

    <div class="form-group">
        <label for="municipio">Municipio *</label>
        <select class="charge_select form-control ui-wizard-content" id="municipio" name="municipio" ng-model="formData.municipio" ng-options="post.nombre for post in postsMunicipio" ng-value="{{post.id}}"  ng-disabled="!formData.pais || !formData.departamento" ng-required="true">
        </select>
        <p ng-if="form.municipio.$error.required && form.municipio.$touched" class="alert-danger">Este campo es requerido.</p>
    </div>

</div>
<div class="form-group row">
    <div class="col-lg-3">
        <button ui-sref="crearclientes.ajustescliente" class="btn btn-block btn-info" ng-disabled="!formData.nombre || !formData.nit || !formData.digitoChequeo || !formData.telefono || !formData.email" >Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>

</div>
    


<script>
    function format(input){
        var num = input.value.replace(/\./g,'');
        if(!isNaN(num)){
        num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g,'$1.');
        num = num.split('').reverse().join('').replace(/^[\.]/,'');
        input.value = num;
    }
  
    else{
        input.value = input.value.replace(/[^\d\.]*/g,'');
    }
}
</script>
  
