<div class="container-fluid">
<ol class="breadcrumb">
            <li class="active">
                <i class="center"></i> <h3>Informacion del Usuario</h3>
            </li>
        </ol>

        <div class="form-group">
        
            <label for="name">Nombre de Usuario</label>
            <input type="text" class="form-control" name="nombre" ng-value="posts.fullName" ng-model="formData.nombre">
 
            <label for="email">Correo</label>
            <input type="text" class="form-control" name="email" ng-value="posts.username" ng-model="formData.email">

            <label for="name">Contraseña</label>
            <input type="password" class="form-control" name="contrasenia" ng-value="posts.password" ng-model="formData.contrasenia">

            <label for="email">Repita la Contraseña</label>
            <input type="password" class="form-control" name="repcontrasenia" ng-value="posts.password" ng-model="formData.repcontrasenia">

        <div class="form-group row">
            <div class="col-xs-3">
                <a ui-sref="buscarusuario.clientesusuarioespecifico({id: posts.id})" class="btn btn-block btn-info">
                    Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>

