<ol class="breadcrumb">
    <li class="active">
        <i class="center"></i> <h3>Informacion del Usuario</h3>
    </li>
</ol>
<div class="alert alert-info">Datos Básicos</div>
<div class="container-fluid">

    <div class="form-group">
        <label for="nombre">Nombre de Usuario *</label>
        <input type="text" class="form-control" id="fullName" name="fullName" ng-model="formData.fullName" minlength=2 maxlength=100 ng-required="true" placeholder="Minimo 2 Caracteres" required>
        <p ng-if="form.fullName.$error.required && form.fullName.$touched" class="alert-danger">Este campo es requerido.</p>

    </div>
    <div class="form-group">
        <label for="email">Correo *</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="formData.email" ng-required="true" placeholder="ejemplo@gmail.com">
        <p ng-if="form.email.$error.required && form.email.$touched" class="alert-danger">Este campo es requerido.</p>
        <p ng-if="form.email.$error.email" class="alert-danger">Debe ser una direccion de correo valida.</p>
    </div>
    <div class="form-group">
        <label for="password">Contraseña *</label>
        <input type="password" class="form-control" name="password" ng-model="formData.password" minlength=8 maxlength=100 ng-required="true" placeholder="Minimo 8 Caracteres">
        <p ng-if="form.password.$error.required && form.password.$touched" class="alert-danger">Este campo es requerido.</p>
        <p ng-if="form.password.$error.minlength" class="alert-danger">Debe contener minimo 8 caracteres</p>

    </div>

    <div class="form-group">
        <label for="repassword">Repita la Contraseña *</label>

        <input type="password" class="form-control" name="repassword" ng-model="formData.repassword" minlength=8 maxlength=100 ng-required="true" placeholder="Minimo 8 Caracteres">
        <p ng-if="form.repassword.$error.required && form.repassword.$touched" class="alert-danger">Este campo es requerido.</p>
        <p ng-if="form.repassword.$error.minlength" class="alert-danger">Debe contener minimo 8 caracteres</p>
        
    </div>

    <div class="alert alert-info">Configuración de Acceso</div>

    <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i><h3>Grupos</h3>
        </li>
    </ol>

    <div class="col-lg-4">
        <label>Buscar</label>
        <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
    </div>

    <div class="col-lg-4">
        <label>Items por Página:</label>
        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>


    <div class="panel-body">
        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Nombre del Grupo Corporativo</th>
                    <th>Actualizado por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" dir-paginate="post in grupos|filter:search|itemsPerPage:pageSize">
                    <td>{{post.nombre}}</td>
                    <td>{{}}</td>
                    <td><input type="checkbox" id="id" name="id" checklist-model="formData.id" checklist-value="post"></td>
                </tr>

            </tbody>
        </table>
        <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>

    <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i><h3>Puntos</h3>
        </li>
    </ol>


    <div class="col-lg-4">
        <label>Buscar</label>
        <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
    </div>

    <div class="col-lg-4">
        <label>Items por Página:</label>
        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>


    <div class="panel-body">
        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Nombre del Punto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" dir-paginate="post in puntos|filter:search|itemsPerPage:pageSize">
                    <td>{{post.nombre}}</td>
                    <td><input type="checkbox" id="id" name="id" checklist-model="formData.id" checklist-value="post"></td>
                </tr>

            </tbody>
        </table>
        <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <button ui-sref="crearusuario.clienteusuario" class="btn btn-block btn-info" ng-disabled="!formData.fullName || !formData.email || !formData.password || !formData.repassword">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
    </div>
</div>

