<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Inventario</h3>
        </li>
    </ol>

<div class="container-fluid">
   

    <div class="form-group">
        <label for="email">Clase de Inventario</label>
        <select class="charge_select form-control ui-wizard-content" name="claseinventario" ng-model="formData.claseinventario">
            <option>Clase Inventario 1</option>
            <option>Clase Inventario 2</option>
            <option>Clase Inventario 3</option>
            <option>Clase Inventario 4</option>
            <option>Clase Inventario5</option>
        </select>
    </div>

    <div class="form-group">
        <label for="email">Grupo de Inventario</label>
        <select class="charge_select form-control ui-wizard-content" name="grupoinventario" ng-model="formData.grupoinventario">
            <option>Grupo Inventario 1</option>
            <option>Grupo Inventario 2</option>
            <option>Grupo Inventario 3</option>
            <option>Grupo Inventario 4</option>
            <option>Grupo Inventario5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="email">Unidad de Kardex</label>
        <select class="charge_select form-control ui-wizard-content" name="unidadkardex" ng-model="formData.unidadkardex">
            <option>Unidad de Kardex 1</option>
            <option>Unidad de Kardex 2</option>
            <option>Unidad de Kardex 3</option>
            <option>Unidad de Kardex 4</option>
            <option>Unidad de Kardex 5</option>
        </select>
    </div>

    <div class="form-group">
        <label for="email">Unidad Alterna</label>
        <select class="charge_select form-control ui-wizard-content" name="unidadalterna" ng-model="formData.unidadalterna">
            <option>Unidad Alterna 1</option>
            <option>Unidad Alterna 2</option>
            <option>Unidad Alterna 3</option>
            <option>Unidad Alterna 4</option>
            <option>Unidad Alterna 5</option>
        </select>
    </div>


    

    <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showMaxMin()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Máximos y Mínimos
            </button>
    </ol>
    
    <div class="row">
            <div class="col-lg-12">

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>
                                <th>Mínimos</th>
                                <th>Máximos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="maxmin in posts.maximosMinimos">
                                <td>{{maxmin.nombrePunto}}</td>
                                <td>{{maxmin.minimo}}</td>
                                <td>{{maxmin.maximo}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showUnidadCompra()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Unidad de Compra
            </button>
    </ol>
    
    
    <div class="row">
            <div class="col-lg-12">

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Unidad de Compra</th>
                                <th>Equivalencia en Gr.</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="unidad in posts.unidadesCompra">
                                <td>{{unidad.nombre}}</td>
                                <td>{{unidad.conversiones}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    
 
    <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showBodegas()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Bodegas
            </button>
    </ol>
  
    <div class="row">
            <div class="col-lg-12">

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre de la Bodega</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="bodegas in postsBodegas">
                                <td>{{bodegas.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    
    <div class="form-group row">

        <div class="col-xs-3">
            <a ui-sref="buscararticulo.datosbasicosarticuloespecifico({id: posts.id})" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-xs-3">
            <a ui-sref="buscararticulo.ventaarticuloespecifico({id: posts.id})" class="btn btn-block btn-info">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
    <script type="text/ng-template" id="modalmaxmin.html">
             <div class="modal fade">
              <div class="modal-dialog" id="mdialTamanio">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal de Máximos y Mínimos</h4>
                  </div>
                  <div class="modal-body">
                  
                  <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre del Punto</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>
                    
                        <div class="form-group">
            <label for="minimo">Mínimo</label>
            <input type="text" class="form-control" name="minimo" ng-model="formData.minimo">
        </div>
    
        <div class="form-group">
            <label for="maximo">Máximo</label>
            <input type="text" class="form-control" name="maximo" ng-model="formData.maximo">
        </div>
                    
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
    </script>

    <script type="text/ng-template" id="modalunidadcompra.html">
        <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Modal Unidad de Compra</h4>
             </div>
             <div class="modal-body">
               <div class="form-group">
       <label for="email">Unidad de Compra</label>
       <select class="charge_select form-control ui-wizard-content" name="unidadcompra" ng-model="formData.unidadcompra">
           <option>Unidad de Compra 1</option>
           <option>Unidad de Compra 2</option>
           <option>Unidad de Compra 3</option>
           <option>Unidad de Compra 4</option>
           <option>Unidad de Compra 5</option>
       </select>
   </div>
Link para mostrar la tabla de conversiones
             </div>
             <div class="modal-footer">
               <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
               <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
             </div>
           </div>
         </div>
       </div>
    </script>

    <script type="text/ng-template" id="modalbodegas.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Bodegas</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre de la Bodega</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
    </script>

