<ol class="breadcrumb">
            <li class="active">
                <i class=""></i> <h3>Ajustes del Usuario</h3> 
            </li>
        </ol>

    <div class="container-fluid"  ng-controller="Controller">


        
        <div class="row">
            <ol class="breadcrumb">
        <button type="button" ng-click="showGrupoSeleccion()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Acceso al Grupo
            </button>
    </ol>
            <div class="col-lg-12">
                
               
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Grupo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>{{postsGrupo.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    
                </div>

            </div>

            <ol class="breadcrumb">
        <button type="button"  ng-click="showPuntos()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Acceso al Punto
            </button>
    </ol>
            <div class="col-lg-12">
                
                
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>
                                <th>Teléfono</th>
                                <th>Extensión</th>
                                <th>Dirección</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="puntos in postsPuntos|filter:search|itemsPerPage:pageSize">
                                <td>{{puntos.nombre}}</td>  
                                <td>{{puntos.telefono}}</td> 
                                <td>{{puntos.extension}}</td> 
                                <td>{{puntos.direccion}}</td> 
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>                                    
                                </td> 
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>
            
            
        </div>
        <div class="form-group row">

            <div class="col-xs-3">
                <a ui-sref="buscarusuario.rolesusuarioespecifico({id: posts.id})" class="btn btn-block btn-warning">
                    Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
            <div class="col-xs-3">
                
                <button type="submit" ng-click="processFormUsuario()" class="btn btn-block btn-success">Guardar Usuario</button>
        
            </div>
        </div>

    </div>

<script type="text/ng-template" id="modalpuntos.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Puntos donde estara el articulo</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
                
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-xs-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     
     <script type="text/ng-template" id="modalgruposeleccion.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Grupos de Selección</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
                
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>

                <div class="col-xs-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
                <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre del Grupo de Selección</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>
                
                <div class="form-group">
            <label for="cantidad">Cantidad de Articulos</label>
            <input type="text" class="form-control" name="cantidad" ng-model="formData.cantidad">
        </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>