    <div class="container-fluid" ng-controller="Controller">
       <ol class="breadcrumb">
        <button type="button" ng-click="" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Configuraciones en el Punto
            </button>
    </ol>
<div class="col-lg-4">
                    <label>Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
          
          
                <div class="col-lg-4">
                    <label>Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
        
        <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Configuración</th> 
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="conf in postConf">
                                <td>{{conf}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>                                
                            </tr>
                            

                        </tbody>
                    </table>
                  
                </div>
                <div class="form-group row">

        <div class="col-xs-3">
            <a ui-sref="buscarpuntoespecifico.datosbasicospuntoespecifico({id: posts.id})" class="btn btn-block btn-warning">
                Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-xs-3">
            <a ui-sref="buscarpuntoespecifico.marcabodegapuntoespecifico({id: posts.id})" class="btn btn-block btn-info">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
   
        </div>
    
  