
<div class="alert alert-info">Información del Articulo</div>


<div ng-controller="Controller">
<div class="container-fluid">
       
<!--"ruta inentario: {{rutainv}}<br>
   "ruta venta: {{rutaven}}-->

<!-- <button  ng-model="{{rutainv}}" class="btn btn-block btn-info" >Guardar y Continuar <span class="glyphicon glyphicon-circle-arrow-right"></span></button>-->


    <div class="form-group">
        <label for="name">Nombre del Articulo</label>
        <input type="text" class="form-control" name="name" id="name" ng-model="formData.name" minlength=2 maxlength=100 ng-required="true" placeholder="Minimo 2 Caracteres">
        <p ng-if="form.name.$error.required && form.name.$touched" class="alert-danger">Este campo es requerido.</p>
       
    </div>

    <div class="form-group">

        <label for="email">Código de Barras</label>
        <input type="text" class="form-control" name="codigo" ng-model="formData.codigo" required inlength=2 maxlength=20>
        <!--<p ng-if="form.codigo.$error.required && form.codigo.$touched" class="alert-danger" >Este campo es requerido.</p>-->

    </div>
           
        
    

            <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover">

                        <tbody>
                            <tr class="odd gradeX">                             
                                <td><input  type="checkbox" name="check1" ng-model="guardar">Hará parte de una Selección</td>
                            </tr>
                            <tr class="odd gradeX">                                                             
                                <td><input  type="checkbox" name="check2">Es un Empaque</td>                                 
                            </tr>
                            <tr class="odd gradeX">                                       
                                <td><input  type="checkbox" name="check3" ng-model="checked" >Usa Costo Estimado 
                                    <span ng-if="checked" class="animate-if">
                                        <input type="text" id="costoestimado" name="costoestimado" ng-model="costoestimado" minlength=1 maxlength=6 onkeypress="return solonumeros(event)"/>
                                    
                                    </span>
                                </td>
                            </tr>

                        </tbody
                    </table>
                    </div>
    
    <div class="alert alert-info">Caracteristicas del Articulo</div>

    <div class="panel-body">
        
                    <!--<a href="" ng-click="muestralo()" class="btn btn-primary btn-lg">Muestrate</a>-->
                    <table  width="100%" class="table table-striped table-hover">

                        <tbody>
                    
                            <tr class="odd gradeX">
                                
                                <td><input  type="checkbox" name="check5" ng-click="habilitar()">Inventario</td> 
                                <td><input  type="checkbox" name="check6" ng-click="activar()">Venta</td>
                                <td><input  type="checkbox" name="check7" ng-click="seleccionar()">Receta</td>
                                <td><input  type="checkbox" name="check8" ng-click="adicionar()">Utiliza Empaques</td>
                            </tr>
                      
                        </tbody>
                    </table>
                    </div>

    
    <button type="button"  ng-click="showPuntos()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Puntos a este Articulo
            </button>
    
    <ol class="breadcrumb">
        
        <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
        </div>

        <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>
            
            <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="punto in puntos|filter:search|itemsPerPage:pageSize">
                                <td>{{punto.nombre}}</td>                                
                                <td>
                                    <button type="button" class="btn btn-default btn-md" ng-click="removeData(data)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button> 
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
        
                </div>
       
    </ol>
    
  
    <div class="form-group row">
        <div class="col-xs-3">
             <!--"ruta inentario: {{rutainv}}<br> -->
            <button ui-sref="creararticulo.empaquearticulo" class="btn btn-block btn-info" ng-show="guardar" >Guardar y Continuar <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            <button ui-sref="creararticulo.inventarioarticulo"class="btn btn-block btn-info" ng-show="!inventario" ng-disabled="!formData.name" >Siguiente<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            <button ui-sref="creararticulo.ventaarticulo" class="btn btn-block btn-info" ng-show="!venta && inventario" ng-disabled="!formData.name ">Siguiente VENTAS<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            <button ui-sref="creararticulo.recetaarticulo" class="btn btn-block btn-info" ng-show="!receta && venta && inventario" ng-disabled="!formData.name">Siguiente RECETA<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            <button ui-sref="creararticulo.empaquearticulo" class="btn btn-block btn-info" ng-show="!empaques && receta && venta && inventario" ng-disabled="!formData.name">Siguiente EMPAQUE<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            
        </div>
    </div>

 </div>
   </div>
    

<script type="text/ng-template" id="modalpuntos.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Puntos donde estara el articulo</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                <td>{{post.nombre}}</td>                                
                                <td><input type="checkbox" id="asociarPunto" name="asociarPunto" checklist-model="formData.asociarPunto" checklist-value="post"></td>
                                
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>