<div class="alert alert-info">Venta Articulo</div>
<!--
<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Venta</h3>
        </li>
    </ol>
-->
<div class="container-fluid">
    
    <div ng-controller="cargarlistasClaseController">
        <div class="form-group">
            <label for="claseinventario">Clase</label>
            <select class="charge_select form-control ui-wizard-content" id="claseinventario" name="claseinventario" ng-model="formData.claseinventario" ng-options="post.nombre for post in postsclaseinventario" ng-value="{{post.id}}" ng-change="grupoinventario(formData.claseinventario)" ng-required="true">
            </select>
            <p ng-if="form.claseinventario.$error.required && form.claseinventario.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>
    
    
    
    
    <div class="form-group">
            <label for="grupoinventario">Grupo</label>
            <select class="charge_select form-control ui-wizard-content" id="grupoinventario" name="grupoinventario" ng-model="formData.grupoinventario" ng-options="post.nombre for post in postsgrupoinventario" ng-value="{{post.id}}"  ng-disabled="!formData.claseinventario" ng-required="true">
            </select>
            <p ng-if="form.grupoinventario.$error.required && form.grupoinventario.$touched" class="alert-danger">Este campo es requerido.</p>
        </div>

    </div>

    
    <ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Asigne el Articulo a un Canal y defina el Impuesto y Tarifa</h3>        
        </li>
    </ol>
    
    
    <div class="table-responsive">
<table class="col-lg-6 col-md-3">
    
<tr>
    <td>
        <div class="form-group">
        <label>
            <input type="checkbox" ng-model="formData.maxmin" value="check1">        
        </label>
        Impuesto aplica para todos los canales
    </div>
    </td>
    <td>
        <div class="form-group">
        <label>
            <input type="checkbox" ng-model="formData.maxmin" value="check1">        
        </label>
        La tarifa aplica para todos los canales
    </div>
    </td>
</tr>
 

</table>
   </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="panel-body">
                <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Canal</th>
                            <th>Impuesto</th>
                            <th>Regimen</th>
                            <th>Tarifa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td><input type="checkbox" ng-model="formData.check3" value="check3">Para llevar</td>
                            <td><select>
                                <option value="valor1">valor1</option>
                                <option value="valor2">valor2</option>
                                <option value="valor3">valor3</option>                                
                            </select></td>
                            <td>se auto genera segun el select impuesto</td>
                            <td><select>
                                <option value="valor1">valor1</option>
                                <option value="valor2">valor2</option>
                                <option value="valor3">valor3</option>                                
                            </select></td>
                        </tr>
                        <tr class="odd gradeX">
                            <td><input type="checkbox" ng-model="formData.check4" value="check4">Domicilio</td>
                            <td><select>
                                <option value="valor1">valor1</option>
                                <option value="valor2">valor2</option>
                                <option value="valor3">valor3</option>                                
                            </select></td>
                            <td>se auto genera segun el select impuesto</td>
                            <td><select>
                                <option value="valor1">valor1</option>
                                <option value="valor2">valor2</option>
                                <option value="valor3">valor3</option>                                
                            </select></td>
                        </tr>
                        <tr class="odd gradeX">
                            <td><input type="checkbox" ng-model="formData.check5" value="check5">Autoservicio</td>
                            <td><select>
                                <option value="valor1">valor1</option>
                                <option value="valor2">valor2</option>
                                <option value="valor3">valor3</option>                                
                            </select></td>
                            <td>se auto genera segun el select impuesto</td>
                            <td><select>
                                <option value="valor1">valor1</option>
                                <option value="valor2">valor2</option>
                                <option value="valor3">valor3</option>                                
                            </select></td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>
    
     <ol class="breadcrumb">        
        <button type="button" ng-controller="Controller" ng-click="showUnidadPrincipal()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Unidad Principal
            </button>
    </ol>
   
<ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showUnidadAlterna()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Unidades Alternas
            </button>
    </ol>
   

    <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showGrupoSeleccion()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Grupo de Selección
            </button>
    </ol>
    
    <div class="form-group row">
            <div class="col-xs-3">
                <a ui-sref="creararticulo.datosbasicosarticulo" class="btn btn-block btn-warning">
                    Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
    
            <div class="col-xs-3">
                <button ui-sref="creararticulo.empaquearticulo" class="btn btn-block btn-info" <!--ng-disabled="!formData.claseinventario || !formData.grupoinventario"-->>Siguiente y Guardar <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
            </div>
        </div>

    </div>

    
    
    <script type="text/ng-template" id="modalunidadprincipal.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Unidad Principal</h4>
              </div>
              <div class="modal-body">
                
                
                <div class="form-group">
        <label for="unidadventa">Unidad de Venta</label>
        <select id="unidadventa" class="charge_select form-control ui-wizard-content" name="unidadventa" ng-model="formData.unidadventa">
            <option>Unidad de Venta 1</option>
            <option>Unidad de Venta 2</option>
            <option>Unidad de Venta 3</option>
            <option>Unidad de Venta 4</option>
            <option>Unidad de Venta 5</option>
        </select>
    </div>
    
    <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
    <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre de la Lista de Precios</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate= "post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>
    
                <div class="form-group">
            <label for="venta">Valor de la Venta</label>
            <input type="text" class="form-control" name="venta" ng-model="formData.venta">
        </div>

Link para mostrar la tabla de conversiones

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     
     <script type="text/ng-template" id="modalunidadalterna.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal Unidad Alterna</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
        <label for="unidadventa">Unidad de Venta</label>
        <select id="unidadventa" class="charge_select form-control ui-wizard-content" name="unidadventa" ng-model="formData.unidadventa">
            <option>Unidad de Venta 1</option>
            <option>Unidad de Venta 2</option>
            <option>Unidad de Venta 3</option>
            <option>Unidad de Venta 4</option>
            <option>Unidad de Venta 5</option>
        </select>
    </div>
             <div class="form-group">
            <label for="equivalencia">Equivalencia con miligramo</label>
            <input type="text" class="form-control" name="equivalencia" ng-model="formData.equivalencia">
        </div>   
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre de la Lista de Precios</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate= "post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>
                
                <div class="form-group">
            <label for="venta">Valor de la Venta</label>
            <input type="text" class="form-control" name="venta" ng-model="formData.venta">
        </div>
               Link para mostrar la tabla de conversiones 

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
     
     <script type="text/ng-template" id="modalgruposeleccion.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal de Grupos de Selección</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Nombre del Grupo de Selección</th>                                
                                    <th>Asociar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" dir-paginate= "post in posts|filter:search|itemsPerPage:5">
                                    <td>{{post.nombre}}</td>
                                    <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                                </tr>

                            </tbody>
                        </table>
                        <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                    </div>
                
                <div class="form-group">
            <label for="cantidad">Cantidad de Articulos</label>
            <input type="text" class="form-control" name="cantidad" ng-model="formData.cantidad">
        </div>

              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>