<ol class="breadcrumb">
                <li class="active">
                    <i class="center"></i> <h3>Información del Punto
                    </h3>
                </li>
            </ol>
    <div class="container-fluid">

            <div class="form-group">
            <label for="nombre">Nombre del Punto</label>
            <input type="text" class="form-control" name="nombre" ng-value="posts.nombre" ng-model="formData.nombre">
        </div>   
            <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" name="direccion" ng-value="posts.direccion" ng-model="formData.direccion">
        </div>   
            <div class="form-group">
            <label for="telefono">Teléfono 1</label>
            <input type="text" class="form-control" name="telefono" ng-value="posts.telefono" ng-model="formData.telefono">
        </div>   
            <div class="form-group">
            <label for="extension">Extensión 1</label>
            <input type="text" class="form-control" name="extension" ng-value="posts.extension" ng-model="formData.extension">
        </div>   
            <div class="form-group">
            <label for="telefono2">Teléfono 2</label>
            <input type="text" class="form-control" name="telefono2" ng-value="posts.telefono2" ng-model="formData.telefono2">
        </div>   
            <div class="form-group">
            <label for="extension2">Extensión 2</label>
            <input type="text" class="form-control" name="extension2" ng-value="posts.extension2" ng-model="formData.extension2">
        </div> 
            <div class="form-group">
            <label for="centro_costo_id">Centro Costos</label>
            <input type="text" class="form-control" name="centro_costo_id" ng-value="posts.centro_costo_id" ng-model="formData.centro_costo_id">
        </div> 
            <div class="form-group">
            <label for="tipo_negocio_id">Tipo Negocio</label>
            <input type="text" class="form-control" id="tipo_negocio_id" name="tipo_negocio_id" ng-value="posts.tipo_negocio_id" ng-model="formData.tipo_negocio_id">
        </div> 
            <div class="form-group">
            <label for="nombre">País</label>
            <input type="text" class="form-control" name="nombre" ng-value="posts.municipio_id" ng-model="formData.municipio_id">
        </div> 
            <div class="form-group">
            <label for="nombre">Departamento</label>
            <input type="text" class="form-control" name="nombre" ng-value="posts.municipio_id" ng-model="formData.municipio_id">
        </div> 
            <div class="form-group">
            <label for="nombre">Municipio</label>
            <input type="text" class="form-control" name="nombre" ng-value="posts.municipio_id" ng-model="formData.municipio_id">
        </div> 
               
        <div class="form-group row">
        <div class="col-xs-3">

            <a ui-sref="buscarpuntoespecifico.configpuntoespecifico({id: posts.id})" class="btn btn-block btn-info">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>   
          
        </div>
        
        </div>
        
        
   </div>
 
