<ol class="breadcrumb">
        <li class="active">
            <i class="center"></i> <h3>Información del Articulo
            </h3>
        </li>
    </ol>

<div class="container-fluid">
   

    <div class="form-group">
        <label for="nombre">Nombre del Articulo</label>
        <input type="text" class="form-control" id="nombre" name="nombre" ng-value="posts.nombre" ng-model="formData.nombre">
    </div>

    <div class="form-group">
        <label for="codigo">Código de Barras</label>
        <input type="text" class="form-control" id="codigo" name="codigo" ng-value="posts.codigo" ng-model="formData.codigo">
    </div>

    
    <div class="row">
        <div class="col-lg-12">

            <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover">

                        <tbody>
                            <tr class="odd gradeX">                                
                                <td>Hará parte de una Selección</td>
                                <td><input  type="checkbox" id="seleccion" name="seleccion" ng-model="formData.seleccion"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Es un Empaque</td>
                                <td><input  type="checkbox" id="empaque" name="empaque" ng-model="formData.empaque"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Usa Costo Estimado</td>
                                <td><input  type="checkbox" id="costo" name="costo" ng-model="formData.costo"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Costo Estimado</td>
                                <td><input type="text" name="costoEstimado" ng-value="posts.costoEstimado" ng-model="formData.costoEstimado"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Inventario</td>
                                <td><input  type="checkbox" id="inventario" name="inventario" ng-model="formData.inventario"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Venta</td>
                                <td><input  type="checkbox" id="venta" name="venta" ng-model="formData.venta"></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Receta</td>
                                <td><input  type="checkbox" id="receta" name="receta" ng-model="formData.receta"></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    </div>

        </div>

    </div>
    
    <ol class="breadcrumb">
        <button type="button" ng-controller="Controller" ng-click="showPuntos()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Puntos a este Articulo
            </button>
    </ol>

    <div class="row">
            <div class="col-lg-12">

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>
                                <th>Actualizado por</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="puntos in posts.puntos">
                                <td>{{puntos.nombre}}</td>
                                <td>{{puntos.nombre}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
               
    
           
            
            <div class="form-group row">
        <div class="col-xs-3">

            <a ui-sref="buscararticulo.inventarioarticuloespecifico({id: posts.id})" class="btn btn-block btn-info">
                Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>   
          
        </div>
        
        </div>
 

        </div>
   
    

<script type="text/ng-template" id="modalpuntos.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Puntos donde estara el articulo</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
