<ol class="breadcrumb">
            <li class="active">
                <i class=""></i> <h3>Roles asociados al Usuario</h3> 
            </li>
        </ol>

    <div class="container-fluid" ng-controller="Controller">

        <ol class="breadcrumb">
        <button type="button" ng-click="showRoles()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar Roles a este Usuario
            </button>
        </ol>
        
        <div class="row">
            
            <div class="col-lg-12">
                <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-lg-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="rol in postsRol|filter:search|itemsPerPage:pageSize">
                                <td>{{rol.nombre}}</td> 
                                <td>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td> 
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>

        </div>
        
        <div class="form-group row">

            <div class="col-xs-3">
                <a ui-sref="buscarusuario.clientesusuarioespecifico({id: posts.id})" class="btn btn-block btn-warning">
                    Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
            <div class="col-xs-3">
                <a ui-sref="buscarusuario.accesosusuarioespecifico({id: posts.id})" class="btn btn-block btn-info">
                    Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>

    </div>

<script type="text/ng-template" id="modalroles.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Roles al Usuario</h4>
              </div>
              <div class="modal-body" ng-controller="Controller">
                
                <div class="col-lg-12">
                
            <div class="col-lg-4">
                <label >Buscar</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
            </div>

            <div class="col-xs-4">
                <label>Items por Página</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Rol</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>