<ol class="breadcrumb">
            <li class="active">
                <i class=""></i> <h3>Cliente asociado al Usuario</h3> 
            </li>
        </ol>

    <div class="container-fluid" ng-controller="Controller">

        <div class="row">
            <ol class="breadcrumb">
        <button type="button" ng-click="showClientes()" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Agregar cliente a este usuario
            </button>
    </ol>
            <div class="col-lg-12">

                <div class="panel-body">
                    <table  width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Razón Social</th>
                                <th>Nit</th>
                                <th>Teléfono</th>
                                <th>Nombre del Propietario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>{{postsCliente.nombre}}</td>
                                <td>{{postsCliente.nit}}</td>
                                <td>{{postsCliente.telefono}}</td>
                                <td>{{postsCliente.nombreDueno}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn -xs" ng-click="removeData(data)">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                    </button>
                                    <!--<button type="button" class="btn btn-default btn-md">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>-->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- {{data}}
                    {{data.cliente}}-->
              
                </div>

            </div>

        </div>
        <div class="form-group row">

            <div class="col-xs-3">
                <a ui-sref="buscarusuario.datosbasicosusuarioespecifico({id: posts.id})" class="btn btn-block btn-warning">
                    Atras <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
            <div class="col-xs-3">
                <a ui-sref="buscarusuario.rolesusuarioespecifico({id: posts.id})" class="btn btn-block btn-info">
                    Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>

    </div>

<script type="text/ng-template" id="modalclientes.html">
         <div class="modal fade">
          <div class="modal-dialog" id="mdialTamanio">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Clientes al Usuario</h4>
              </div>
              <div class="modal-body">
                
                <div class="form-group">
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
            </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Cliente</th>                                
                                <th>Asociar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:5">
                                <td>{{post.nombre}}</td>
                                <td><input type="checkbox" id="asociar{{post.nombre}}" name="asociar{{post.nombre}}" ng-model="formData.asociar[post.nombre]"></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                
                
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
     </script>
