<div id="page-wrapper">

    <div class="container-fluid" ng-controller="Controller">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Puntos <small>Resumen de Estadísticas</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <a href="#/crearpunto/datosbasicospunto/666">
                        <div class="panel-footer">
                            <span class="pull-left">Crear Punto</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
           <!-- <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <a href="#/puntos">
                        <div class="panel-footer">
                            <span class="pull-left">Listado de Puntos Activos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>-->
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <a href="#/listadopuntosinactivos">
                        <div class="panel-footer">
                            <span class="pull-left">Listado de Puntos Inactivos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Listado de Puntos Pertenecientes al Cliente 
            </li>
        </ol>

        <div class="row">
          
                <div class="col-lg-4">
                    <label >Buscar</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                </div>
                <div class="col-lg-4">
                    <label for="search">Items por Página</label>
                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                </div>
            <div class="col-lg-12">

                <div class="panel-body">
                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nombre del Punto</th>                                
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" dir-paginate="post in posts|filter:search|itemsPerPage:pageSize">
                                <td>{{post.nombre}}</td>
                                <td class="center"><a href="#/buscarpuntoespecifico/datosbasicospuntoespecifico/{{post.id}}" class="btn btn-info btn-xs" role="button">Ver Datos</a><a href="#" class="btn btn-danger btn-xs" role="button">Inactivar</a></td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>

            </div>

        </div>


    

</div>	
</div>